Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2022-12, with the labels that each got.

#1424 chore: now will push openapi changes to core sdk
  .github/workflows/openapi_update.yaml
Labels: github

#1423 feat: bump Observability Operator version to v4.0.0
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#1430 feat(connectors): fixes MGDCTRS-1753, removed computed category-features, refactored labels query
  internal/connector/internal/services/connector_types.go
  internal/connector/test/integration/connector-metadata/aws-sqs-source-v1alpha1-metadata.yaml
  internal/connector/test/integration/features/connector-api.feature
Labels: connector

#1431 fix(connectors): fixes MGDCTRS-1755, added migration to add annotations for existing clusters and connectors
  internal/connector/internal/migrations/202212050000_add_orgid_annotations.go
  internal/connector/internal/migrations/migrations.go
  internal/connector/internal/services/connector_types.go
Labels: connector

#1420 feat: add expires_at column to the kafka_requests table
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/migrations/20221129121515_add_expires_at_to_kafka_request.go
  internal/kafka/internal/migrations/migrations.go
Labels: kafka

#1429 feat: register enterprise cluster
  Makefile
  config/enterprise-cluster-registration-list-config.yaml
  internal/connector/test/integration/features/connector-api.feature
  internal/kafka/internal/acl/enterprise_cluster_registration_access_list_middleware.go
  internal/kafka/internal/acl/enterpsise_cluster_registration_access_list.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/model_enterprise_cluster.go
  internal/kafka/internal/api/public/model_enterprise_osd_cluster_payload.go
  internal/kafka/internal/api/public/model_fleetshard_parameter.go
  internal/kafka/internal/handlers/cluster.go
  internal/kafka/internal/handlers/cluster_test.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/migrations/20221202120000_add_cluster_org_id_cluster_type_columns.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/presenters/cluster.go
  internal/kafka/internal/presenters/cluster_test.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusters_test.go
  internal/kafka/internal/services/clusterservice_moq.go
  internal/kafka/internal/services/kas_fleetshard_operator_addon.go
  internal/kafka/internal/services/kas_fleetshard_operator_addon_moq.go
  internal/kafka/internal/workers/cluster_mgrs/cleanup_clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr_test.go
  internal/kafka/providers.go
  openapi/kas-fleet-manager.yaml
  pkg/api/cluster_types.go
  pkg/api/cluster_types_test.go
  pkg/errors/errors.go
  pkg/handlers/validation.go
  pkg/handlers/validation_test.go
  templates/service-template.yml
Labels: common, connector, kafka, api-change, service-template

#1434 fix(connectors): fixes MGDCTRS-975, json-patch is now supported for connector patch request
  internal/connector/internal/handlers/connectors.go
  internal/connector/test/integration/features/connector-api.feature
Labels: connector

#1435 feat: bump Observability Operator version to v4.0.1
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#1433 feat: added quota expiration in quota list
  config/quota-management-list-configuration.yaml
  go.mod
  pkg/quota_management/account.go
  pkg/quota_management/account_test.go
  pkg/quota_management/billing_model.go
  pkg/quota_management/expiration_date.go
  pkg/quota_management/expiration_date_test.go
  pkg/quota_management/organisation.go
  pkg/quota_management/quota.go
  pkg/quota_management/quota_management_list_config_test.go
Labels: common, kafka

#1441 test: enterprise cluster endpoint middleware unit tests
  internal/kafka/internal/acl/enterprise_cluster_registration_access_list_middleware.go
  internal/kafka/internal/acl/enterprise_cluster_registration_access_list_middleware_test.go
  internal/kafka/internal/acl/enterpsise_cluster_registration_access_list_test.go
Labels: kafka

#1443 fix(openapi): change response type of cluster-registration endpoint
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1447 chore: add tag for enterprise data plane clusters endpoints
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/api_enterprise_dataplane_clusters.go
  internal/kafka/internal/api/public/client.go
  internal/kafka/internal/api/public/model_enterprise_cluster.go
  internal/kafka/internal/api/public/model_enterprise_osd_cluster_payload.go
  internal/kafka/test/integration/cluster_registration_endpoint_test.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1445 Included new statuses
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_kafka_request.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1448 fix: add default value for cluster_type column
  internal/kafka/internal/handlers/cluster.go
  internal/kafka/internal/migrations/20221213120000_add_default_value_for_cluster_type_column.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr_test.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_up_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_up_mgr_test.go
  internal/kafka/test/integration/cluster_registration_endpoint_test.go
  pkg/api/cluster_types.go
  pkg/api/cluster_types_test.go
Labels: common, kafka

#1299 doc: add GCP configuration documentation in README.md
  Makefile
  README.md
Labels: documentation, do-not-merge

#1449 fix(clusters): print numbers correctly in validation message
  internal/kafka/internal/handlers/validation.go
Labels: kafka

#1453 feat: rename kafka billing model for developer instances to standard
  config/kafka-instance-types-configuration.yaml
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/test/integration/cloudprovider_test.go
  openapi/kas-fleet-manager.yaml
  templates/service-template.yml
Labels: kafka, api-change, service-template

#1390 Added support to the AMSQuota manager for the new KafkaBillingModel
  internal/kafka/internal/config/kafka.go
  internal/kafka/internal/config/kafka_supported_instance_types.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/kafkas/types/types.go
  internal/kafka/internal/kafkas/types/types_test.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/services/quota.go
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  internal/kafka/internal/services/quota/internal/utils/ams_quota_config_provider.go
  internal/kafka/internal/services/quota/internal/utils/billing_model_details.go
  internal/kafka/internal/services/quota/internal/utils/billing_model_resolver.go
  internal/kafka/internal/services/quota/internal/utils/cloudaccount_billing_model_resolver.go
  internal/kafka/internal/services/quota/internal/utils/common.go
  internal/kafka/internal/services/quota/internal/utils/kafka_billing_model_resolver.go
  internal/kafka/internal/services/quota/internal/utils/simple_billing_model_resolver.go
  internal/kafka/internal/services/quota/quota_management_list_service.go
  internal/kafka/internal/services/quota/quota_management_list_service_test.go
  internal/kafka/internal/services/quotaservice_moq.go
  pkg/client/ocm/types.go
  pkg/client/ocm/types_test.go
  pkg/quota_management/organisation_test.go
  pkg/shared/util.go
  pkg/shared/util_test.go
  pkg/shared/utils/arrays/common_predicates.go
  pkg/shared/utils/arrays/common_predicates_test.go
Labels: common, kafka

#1414 add kafka billing model promotion endpoint
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/api_enterprise_dataplane_clusters.go
  internal/kafka/internal/api/public/api_errors.go
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/api/public/client.go
  internal/kafka/internal/api/public/configuration.go
  internal/kafka/internal/api/public/model_cloud_provider.go
  internal/kafka/internal/api/public/model_cloud_provider_list.go
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/api/public/model_cloud_region_list.go
  internal/kafka/internal/api/public/model_enterprise_cluster.go
  internal/kafka/internal/api/public/model_enterprise_cluster_list.go
  internal/kafka/internal/api/public/model_enterprise_cluster_registration_response.go
  internal/kafka/internal/api/public/model_enterprise_osd_cluster_payload.go
  internal/kafka/internal/api/public/model_error.go
  internal/kafka/internal/api/public/model_error_list.go
  internal/kafka/internal/api/public/model_fleetshard_parameter.go
  internal/kafka/internal/api/public/model_instant_query.go
  internal/kafka/internal/api/public/model_kafka_promote_request.go
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_list.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/api/public/model_kafka_update_request.go
  internal/kafka/internal/api/public/model_list.go
  internal/kafka/internal/api/public/model_metrics_instant_query_list.go
  internal/kafka/internal/api/public/model_metrics_range_query_list.go
  internal/kafka/internal/api/public/model_object_reference.go
  internal/kafka/internal/api/public/model_range_query.go
  internal/kafka/internal/api/public/model_region_capacity_list_item.go
  internal/kafka/internal/api/public/model_service_account.go
  internal/kafka/internal/api/public/model_service_account_list.go
  internal/kafka/internal/api/public/model_service_account_list_item.go
  internal/kafka/internal/api/public/model_service_account_request.go
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/api/public/model_supported_kafka_billing_model.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_type.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_types_list.go
  internal/kafka/internal/api/public/model_supported_kafka_size.go
  internal/kafka/internal/api/public/model_supported_kafka_size_bytes_value_item.go
  internal/kafka/internal/api/public/model_values.go
  internal/kafka/internal/api/public/model_version_metadata.go
  internal/kafka/internal/api/public/response.go
  internal/kafka/internal/config/kafka_supported_instance_types.go
  internal/kafka/internal/handlers/kafka_promote.go
  internal/kafka/internal/handlers/kafka_promote_test.go
  internal/kafka/internal/handlers/kafka_promote_validator.go
  internal/kafka/internal/handlers/kafka_promote_validator_factory.go
  internal/kafka/internal/handlers/kafka_promote_validator_factory_test.go
  internal/kafka/internal/handlers/kafka_promote_validator_test.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/migrations/20221214130000_add_kafka_promotion_fields.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/test/integration/kafka_promote_test.go
  internal/kafka/test/mocks/kafkas/kafkas.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1457 ci: add workflow dispatch for manual running of update-openapi-spec w…
  .github/workflows/openapi_update.yaml
Labels: github

#1458 fix: remove wrongly created enterprise cluster in prod
  internal/kafka/internal/migrations/20221216120000_remove_wrongly_created_enterprise_cluster.go
  internal/kafka/internal/migrations/migrations.go
Labels: kafka

#1463 chore: Use gopkg.in/yaml.v2 instead of v3
  go.mod
  pkg/quota_management/expiration_date_test.go
Labels: common

#1388 feat: validate kafka billing models in kafka creation from instance types config
  internal/kafka/internal/handlers/kafka.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
Labels: kafka
