Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2022-08, with the labels that each got.

#1222 feat: GetAvailableSizesInRegion only checks region limts when dynamic scaling enabled
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
Labels: kafka

#1224 feat: accept a kafka even if there is no ready cluster but region limits not reached during dynamic scaling
  internal/kafka/constants/kafka.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/workers/kafka_mgrs/accepted_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/accepted_kafkas_mgr_test.go
Labels: kafka

#1184 fix: any-all of fix
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/model_connector_type.go
  internal/connector/internal/api/admin/private/model_connector_type_admin_view.go
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/model_connector_type.go
  internal/connector/internal/generated/bindata.go
  internal/connector/test/integration/features/connector-api.feature
  openapi/connector_mgmt.yaml
Labels: connector, connector-api-change

#1225 refactor: rename reserved capacity attribute num_reserved_instances in node prewarming config
  config/node-prewarming-configuration.yaml
  internal/kafka/internal/config/node_prewarming_config.go
  internal/kafka/internal/config/node_prewarming_config_test.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
Labels: kafka

#1172 test: increase coverage for pkg/workers
  pkg/workers/leader_election_mgr_test.go
  pkg/workers/reconciler_config_test.go
  pkg/workers/worker_interface_test.go
Labels: common

#1232 ci(lint): add linting step in CI to lint OpenShift templates
  .github/workflows/ci.yaml
  Makefile
Labels: github

#1226 fix: add dynamic flag max-allowed-developer-instances
  Makefile
  internal/kafka/internal/config/kafka.go
  internal/kafka/internal/config/kafka_quota.go
  internal/kafka/internal/config/kafka_quota_test.go
  internal/kafka/internal/environments/development.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  templates/service-template.yml
Labels: kafka, service-template

#1227 fix: fix pieces of code currently omitted by the linter
  internal/connector/internal/config/connectors_test.go
  internal/kafka/test/common/util.go
  internal/kafka/test/integration/data_plane_cluster_test.go
  pkg/acl/access_control_list_middleware_test.go
  pkg/api/cluster_types.go
  pkg/constants/db_context_keys.go
  pkg/db/context.go
  pkg/db/transaction_middleware.go
  pkg/handlers/errors_test.go
  pkg/handlers/openapi_handler_test.go
  pkg/logger/logger.go
  pkg/logger/logger_test.go
  test/mocks/api_server.go
  test/mocks/jwk_cert_server.go
Labels: common, connector, kafka

#1212 fix(connectors): fixes MGDCTRS-1146, delete cluster service account using client id stored in the cluster table
  internal/connector/internal/handlers/connector_cluster.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/internal/workers/cluster_mgr.go
  internal/connector/test/integration/cucumber_steps.go
  internal/connector/test/integration/feature_test.go
  internal/connector/test/integration/features/connector-admin-api.feature
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-cluster-api.feature
  internal/connector/test/integration/features/connector-multitenancy-api.feature
  pkg/services/sso/redhatsso_service.go
  pkg/services/sso/redhatsso_service_test.go
Labels: common, connector

#1237 feat: expose GCP compute instance type configuration
  docs/feature-flags.md
  internal/kafka/internal/clusters/cluster_builder.go
  internal/kafka/internal/clusters/cluster_test.go
  internal/kafka/internal/config/dataplane_cluster_config.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#1236 feat: Add GetQuotaCost method to the ocm client
  pkg/client/ocm/client.go
  pkg/client/ocm/client_moq.go
Labels: common

#1240 refactor: rename cluster machine type flag to be aws specific
  docs/feature-flags.md
  internal/kafka/internal/clusters/cluster_builder.go
  internal/kafka/internal/clusters/cluster_test.go
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/environments/development.go
  internal/kafka/internal/environments/integration.go
  internal/kafka/internal/environments/production.go
  internal/kafka/internal/environments/stage.go
  internal/kafka/internal/workers/clusters_mgr.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#1234 docs(dynamic_scaling): add dynamic scaling documentation
  docs/architecture/data-plane-osd-cluster-dynamic-scaling.md
Labels: documentation

#1231 refactor: updates spectral and the rhoas guidelines to latest release
  Makefile
  README.md
Labels: documentation

#1248 feat: make replicas configurable for token refresher
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  templates/observatorium-token-refresher.yml
Labels: documentation, kafka, service-template

#1250 feat: update cluster builder and machinepools logic to support GCP
  internal/kafka/internal/cloudproviders/types.go
  internal/kafka/internal/cloudproviders/types_test.go
  internal/kafka/internal/clusters/cluster_builder.go
  internal/kafka/internal/clusters/cluster_test.go
  internal/kafka/internal/clusters/ocm_provider_test.go
  internal/kafka/internal/clusters/provider.go
  internal/kafka/internal/clusters/provider_test.go
  internal/kafka/internal/config/configuration_test.go
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/config/dataplane_cluster_config_test.go
  internal/kafka/internal/config/gcp.go
  internal/kafka/internal/config/gcp_test.go
  internal/kafka/internal/config/providers.go
  internal/kafka/internal/services/cloud_providers.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#1241 feat: add gcp example
  cmd/kas-fleet-manager/main_test.go
  config/provider-configuration.yaml
  internal/kafka/test/helper.go
Labels: kafka

#1252 docs(dataplane): add a note on the impact of turning on dynamic scaling
  docs/data-plane-osd-cluster-options.md
Labels: documentation

#1253 feat: update data plane operators OLM images for standalone cluster provider
  internal/kafka/internal/config/dataplane_cluster_config.go
Labels: kafka

#1254 fix: disable gcp support until credentials are available in all testi…
  config/provider-configuration.yaml
Labels: kafka

#1255 refactor: refactor some kafka validators to directly use kafka service interface value
  internal/kafka/internal/handlers/kafka.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
Labels: kafka

#1257 chore: README minor formatting changes
  README.md
Labels: documentation

#1245 Minor cleanuop
  internal/connector/internal/services/connector_cluster.go
  internal/connector/internal/services/connectors.go
  internal/connector/test/integration/cucumber_steps.go
  internal/kafka/internal/config/gcp_test.go
  internal/kafka/test/common/util.go
  pkg/client/redhatsso/client.go
  pkg/db/context.go
  pkg/server/logging/logging.go
  pkg/server/logging/writer.go
  pkg/services/signalbus/pg_signalbus.go
  pkg/services/sso/keycloak_service.go
  pkg/shared/config.go
  pkg/shared/config_test.go
  pkg/shared/util.go
  test/cucumber/http_request.go
  test/cucumber/sql.go
  test/mocks/redhatsso.go
Labels: common, connector, kafka

#1242 MGDCTRS-1232: validate connectors-quota-configuration
  internal/connector/internal/config/connectors_quota_config.go
  internal/connector/internal/config/connectors_quota_config_test.go
Labels: connector

#1256 fix(MGDCTRS-844): remove error message when connector not failed or stopped
  internal/connector/internal/presenters/connector.go
  internal/connector/test/integration/features/connector-agent-api.feature
Labels: connector

#1259 fix linter findings
  internal/kafka/test/common/util.go
  pkg/client/redhatsso/client.go
  test/cucumber/http_request.go
Labels: common, kafka

#1261 refactor: AMS Quota service refactorings
  internal/kafka/internal/services/quota/ams_quota_service.go
Labels: kafka

#1244 feat: run cucumber scenario as go subtest
  Makefile
  go.mod
  go.sum
  internal/connector/test/integration/cucumber_steps.go
  internal/connector/test/integration/feature_test.go
  internal/connector/test/integration/features/connector-multitenancy-api.feature
  internal/kafka/test/integration/kafka/kafka_test.go
  test/cucumber/cucumber.go
  test/cucumber/cucumber_test.go
  test/cucumber/scenario.go
Labels: common, connector, kafka

#1258 feat: add cluster_provider_resource_quota_consumed_ metric
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  internal/kafka/test/integration/cloudprovider_test.go
  internal/kafka/test/integration/kafkas_test.go
  pkg/client/ocm/config.go
  pkg/client/ocm/config_test.go
  pkg/metrics/metrics.go
  test/mocks/api_server.go
Labels: common, kafka

#1260 feat: add GCP cluster support when reserving a RHOSAK in GCP for AMS
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  pkg/client/ocm/types.go
  pkg/client/ocm/types_test.go
Labels: common, kafka

#1262 refactor: minor QuotaCost changes
  internal/kafka/internal/clusters/ocm_provider.go
  internal/kafka/internal/clusters/ocm_provider_test.go
  internal/kafka/internal/clusters/standalone_provider_test.go
  pkg/client/ocm/client.go
  pkg/client/ocm/client_moq.go
Labels: common, kafka

#1264 feat(autoscaling): reduce the min size of the default machine pool to 3
  internal/kafka/constants/cluster.go
  internal/kafka/internal/clusters/cluster_builder.go
  internal/kafka/internal/clusters/cluster_test.go
Labels: kafka

#1266 refactor(cluster-reconciler): create a cleanup and deprovisioning clusters reconcilers
  cmd/kas-fleet-manager/main_test.go
  internal/kafka/internal/migrations/20220829180000_add_cleanup_cluster_external_resources_worker_to_leader_leases.go
  internal/kafka/internal/migrations/20220829190000_add_deprovisioning_cluster_worker_to_leader_leases.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/workers/cluster_mgrs/cleanup_clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/cleanup_clusters_mgr_test.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr_test.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scaleup_mgr.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  internal/kafka/providers.go
  pkg/errors/errors.go
  pkg/errors/errors_test.go
Labels: common, kafka

#1269 refactor(cluster_mgrs): move the cluster manager onto the cluster_mgrs package
  docs/architecture/cluster-management-interface-and-implementations.md
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  internal/kafka/providers.go
  internal/kafka/test/helper.go
Labels: documentation, kafka

#1265 feat(connectors): fixes MGDCTRS-1230, added support for API to list connector type labels/categories and counts
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/api/admin/private/api_connector_namespaces_admin.go
  internal/connector/internal/api/admin/private/api_connector_types.go
  internal/connector/internal/api/admin/private/model_connector_type.go
  internal/connector/internal/api/admin/private/model_connector_type_admin_view.go
  internal/connector/internal/api/dbapi/connector_type.go
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/api_connector_clusters.go
  internal/connector/internal/api/public/api_connector_namespaces.go
  internal/connector/internal/api/public/api_connector_types.go
  internal/connector/internal/api/public/api_connectors.go
  internal/connector/internal/api/public/model_connector_type.go
  internal/connector/internal/api/public/model_connector_type_label_count.go
  internal/connector/internal/api/public/model_connector_type_label_count_list.go
  internal/connector/internal/generated/bindata.go
  internal/connector/internal/handlers/connector_types.go
  internal/connector/internal/migrations/202208250000_add_connector_type_feature_rank.go
  internal/connector/internal/migrations/migrations.go
  internal/connector/internal/presenters/connector_type.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/internal/services/connector_types.go
  internal/connector/test/integration/connector-catalog/aws-sqs-source-v1alpha1.json
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-api.feature
  openapi/connector_mgmt.yaml
Labels: connector, connector-api-change

#1263 fixes MGDCTRS-1206: added support for stopping connector types startup-reconcile after completion
  internal/connector/internal/migrations/202208220000_add_connector_type_lease.go
  internal/connector/internal/migrations/migrations.go
  internal/connector/internal/services/connector_types.go
  internal/connector/internal/workers/connector_mgr.go
  internal/connector/internal/workers/connector_type_mgr.go
  internal/connector/providers.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  pkg/workers/leader_election_mgr.go
  pkg/workers/leader_election_mgr_test.go
  pkg/workers/worker_interface.go
  pkg/workers/worker_interface_moq.go
Labels: common, connector, kafka
