Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2022-05, with the labels that each got.

#993 test: pkg/flags tests
  pkg/flags/flags_test.go
Labels: common

#992 feat(clusters): add a flag to enable disable configuration of identity provider
  Makefile
  docs/feature-flags.md
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#994 fix(connectors): fix MGDCTRS-454: Inconsistent connector catalog, delete unused connector types.
  internal/connector/internal/services/connector_types.go
  internal/connector/internal/workers/connector_mgr.go
  internal/connector/test/integration/cucumber_steps.go
  internal/connector/test/integration/feature_test.go
  internal/connector/test/integration/features/connector-api.feature
  test/helper.go
Labels: common, connector

#990 fix(connectors): fixes MGDCTRS-890, added detailed error log messages, added unit test to verify messages
  internal/connector/internal/config/connectors.go
  internal/connector/internal/config/connectors_test.go
  internal/connector/test/bad-connector-catalog/bad-connector-type.json
Labels: connector

#997 fix(connectors): fixes MGDCTRS-903: fixed admin query to filter list of connectors by cluster_id
  internal/connector/internal/services/connectors.go
  internal/connector/test/integration/features/connector-agent-api.feature
Labels: connector

#979 test: reconcilers tests
  internal/kafka/internal/workers/clusters_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/accepted_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/deleting_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_routes_cname_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_routes_cname_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/preparing_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/provisioning_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/provisioning_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/ready_kafkas_mgr_test.go
  internal/kafka/test/mocks/clusters/clusters.go
  internal/kafka/test/mocks/data_plane/data_plane_cluster_config.go
  pkg/quota_management/quota_management_list_config_test.go
  pkg/quota_management/quota_management_list_test.go
Labels: common, kafka

#1004 fix: cluster worker tests
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#1005 style: removed capital letters from error messages, connectors_quota_config.go
  internal/connector/internal/config/connectors_quota_config.go
Labels: connector

#1009 refactor: reposition Expect(<values>) to below errors, in providers_test.go
  internal/kafka/internal/config/providers_test.go
Labels: kafka

#956 test: Increase unit test code coverage in pkg/shared
  Makefile
  pkg/shared/config_test.go
  pkg/shared/diff_test.go
  pkg/shared/load_openapi_spec_test.go
  pkg/shared/numutil_test.go
  pkg/shared/util_test.go
  pkg/shared/utils/arrays/generic_array_utils_test.go
  pkg/shared/utils/arrays/string_array_utils_test.go
  pkg/shared/utils/state_machine/grammar_test.go
  pkg/shared/utils/stringscanner/simple_string_scanner_test.go
  pkg/shared/utils/stringscanner/sql_string_scanner_test.go
Labels: common

#1008 test: pkg/handlers unit tests
  Makefile
  pkg/errors/errors.go
  pkg/handlers/errors_test.go
  pkg/handlers/framework_test.go
  pkg/handlers/helpers_test.go
  pkg/handlers/json_schema_validation.go
  pkg/handlers/metrics_middleware_test.go
  pkg/handlers/openapi_handler_test.go
  pkg/handlers/presenter_test.go
  pkg/handlers/prometheus_metrics_test.go
  pkg/handlers/validation.go
  pkg/handlers/validation_builder.go
  pkg/handlers/validation_builder_test.go
  pkg/handlers/validation_test.go
Labels: common

#1013 MGDCTRS-928: use use kube like key/value for annotations
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/model_connector_namespace.go
  internal/connector/internal/api/admin/private/model_connector_namespace_eval_request.go
  internal/connector/internal/api/admin/private/model_connector_namespace_meta.go
  internal/connector/internal/api/admin/private/model_connector_namespace_request_meta.go
  internal/connector/internal/api/admin/private/model_connector_namespace_request_meta_annotations.go
  internal/connector/internal/api/admin/private/model_connector_namespace_with_tenant_request.go
  internal/connector/internal/api/private/api/openapi.yaml
  internal/connector/internal/api/private/model_connector_namespace.go
  internal/connector/internal/api/private/model_connector_namespace_meta.go
  internal/connector/internal/api/private/model_connector_namespace_request_meta.go
  internal/connector/internal/api/private/model_connector_namespace_request_meta_annotations.go
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/model_connector_namespace.go
  internal/connector/internal/api/public/model_connector_namespace_eval_request.go
  internal/connector/internal/api/public/model_connector_namespace_meta.go
  internal/connector/internal/api/public/model_connector_namespace_patch_request.go
  internal/connector/internal/api/public/model_connector_namespace_request.go
  internal/connector/internal/api/public/model_connector_namespace_request_meta.go
  internal/connector/internal/api/public/model_connector_namespace_request_meta_annotations.go
  internal/connector/internal/config/connectors_quota_config.go
  internal/connector/internal/generated/bindata.go
  internal/connector/internal/presenters/connector_namespace.go
  internal/connector/internal/profiles/profiles.go
  internal/connector/internal/services/connector_namespaces.go
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-multitenancy-api.feature
  openapi/connector_mgmt.yaml
Labels: connector, connector-api-change

#1015 feat(connectors): fixes MGDCTRS-926: moved cascade deletes into reconciliation
  internal/connector/internal/services/connector_cluster.go
  internal/connector/internal/services/connector_namespaces.go
  internal/connector/internal/workers/cluster_mgr.go
  internal/connector/internal/workers/connector_mgr.go
  internal/connector/test/integration/features/connector-multitenancy-api.feature
Labels: connector

#1002 fix(clusters): do not wait for operators to become ready to store FSO sync client_id/client_secret
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusterservice_moq.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#1012 test: unit tests for aws client
  internal/kafka/internal/services/kafka_test.go
  pkg/client/aws/client.go
  pkg/client/aws/client_moq.go
  pkg/client/aws/client_test.go
  pkg/client/aws/route53_moq.go
Labels: common, kafka

#1018 fix(connectors): fixes MGDCTRS-938, remove old associations when updating connector types
  internal/connector/internal/services/connector_types.go
  internal/connector/test/integration/feature_test.go
Labels: connector

#1017 feat: remove kafka eval instance type support
  config/kafka-instance-types-configuration.yaml
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/kafkas/types/types.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  internal/kafka/test/integration/kafkas_test.go
  openapi/kas-fleet-manager.yaml
  templates/service-template.yml
Labels: kafka, api-change, service-template

#1014 MGDCTRS-927: add an endpoint to list connector type and related shard metadata
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_types.go
  internal/connector/internal/api/admin/private/client.go
  internal/connector/internal/api/admin/private/model_connector_type.go
  internal/connector/internal/api/admin/private/model_connector_type_admin_view.go
  internal/connector/internal/api/admin/private/model_connector_type_admin_view_list.go
  internal/connector/internal/api/admin/private/model_connector_type_channel.go
  internal/connector/internal/api/dbapi/connector_type.go
  internal/connector/internal/config/connectors.go
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connector_types.go
  internal/connector/internal/presenters/connector_type.go
  internal/connector/internal/presenters/object_reference.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/internal/services/connector_types.go
  internal/connector/test/integration/features/connector-admin-api.feature
  openapi/connector_mgmt-private-admin.yaml
  test/cucumber/http_response.go
Labels: common, connector, connector-api-change

#1006 Add new kafkafields largerkafka functionality
  config/kafka-instance-types-configuration.yaml
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/api_errors.go
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/api/public/client.go
  internal/kafka/internal/api/public/configuration.go
  internal/kafka/internal/api/public/model_cloud_provider.go
  internal/kafka/internal/api/public/model_cloud_provider_list.go
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/api/public/model_cloud_region_list.go
  internal/kafka/internal/api/public/model_error.go
  internal/kafka/internal/api/public/model_error_list.go
  internal/kafka/internal/api/public/model_instant_query.go
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_list.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/api/public/model_kafka_update_request.go
  internal/kafka/internal/api/public/model_list.go
  internal/kafka/internal/api/public/model_metrics_instant_query_list.go
  internal/kafka/internal/api/public/model_metrics_range_query_list.go
  internal/kafka/internal/api/public/model_object_reference.go
  internal/kafka/internal/api/public/model_range_query.go
  internal/kafka/internal/api/public/model_region_capacity_list_item.go
  internal/kafka/internal/api/public/model_service_account.go
  internal/kafka/internal/api/public/model_service_account_list.go
  internal/kafka/internal/api/public/model_service_account_list_item.go
  internal/kafka/internal/api/public/model_service_account_request.go
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_type.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_types_list.go
  internal/kafka/internal/api/public/model_supported_kafka_size.go
  internal/kafka/internal/api/public/model_supported_kafka_size_bytes_value_item.go
  internal/kafka/internal/api/public/model_values.go
  internal/kafka/internal/api/public/model_version_metadata.go
  internal/kafka/internal/api/public/response.go
  internal/kafka/internal/config/kafka_supported_instance_types.go
  internal/kafka/internal/config/kafka_supported_instance_types_test.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/presenters/kafka_instance_types.go
  internal/kafka/internal/presenters/kafka_test.go
  internal/kafka/internal/services/kafka_instance_type_test.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/test/integration/cloudprovider_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/kafkas_test.go
  openapi/kas-fleet-manager.yaml
  templates/service-template.yml
Labels: kafka, api-change, service-template

#1016 MGDCTRS-933: add an admin endpoint to get cluster details
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/test/integration/features/connector-admin-api.feature
  openapi/connector_mgmt-private-admin.yaml
Labels: connector, connector-api-change

#1023 connectors: minor fixes and improvements
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connectors.go
  internal/connector/internal/presenters/connector.go
  internal/connector/internal/presenters/connector_deployment.go
  internal/connector/internal/services/connector_types.go
  internal/connector/internal/services/connectors.go
  internal/connector/internal/services/vault/config.go
  internal/connector/internal/services/vault/vault_service.go
  internal/connector/internal/services/vault/vault_service_aws.go
  internal/connector/internal/services/vault/vault_service_test.go
  internal/connector/internal/services/vault/vault_service_tmp.go
  pkg/api/json.go
Labels: common, connector

#1011 test: added unit tests for pkg/logger
  Makefile
  internal/connector/internal/workers/cluster_mgr.go
  pkg/logger/logger.go
  pkg/logger/logger_test.go
  pkg/logger/operationid_middleware_test.go
Labels: common, connector

#999 feat: adding option to configure kafka owners
  Makefile
  config/kafka-owner-list.yaml
  internal/kafka/internal/config/kafka.go
  internal/kafka/internal/config/kafka_test.go
  internal/kafka/internal/services/kafka.go
  templates/service-template.yml
Labels: kafka, service-template

#1024 feat: updating sso provider end-point to be public
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/handlers/authentication.go
  internal/kafka/internal/handlers/service_accounts.go
  internal/kafka/internal/presenters/serviceaccounts.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/internal/services/util.go
  internal/kafka/internal/services/util_test.go
  internal/kafka/test/integration/serviceaccounts_test.go
  openapi/kas-fleet-manager.yaml
  pkg/api/sso_provider_types.go
  pkg/client/keycloak/config.go
Labels: common, kafka, api-change

#1021 test: added unit tests for pkg/keycloak
  Makefile
  pkg/client/keycloak/client.go
  pkg/client/keycloak/client_test.go
Labels: common

#1030 fix(connectors): add missing generated files
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/api/admin/private/api_connector_types.go
Labels: connector

#998 fix: removed validators side effects
  internal/kafka/internal/handlers/kafka.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/services/quota.go
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  internal/kafka/internal/services/quota/quota_management_list_service.go
  internal/kafka/internal/services/quota/quota_management_list_service_test.go
  internal/kafka/internal/services/quotaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/deleting_kafkas_mgr_test.go
  pkg/auth/context.go
  pkg/auth/context_config.go
  pkg/auth/kfm_claims.go
Labels: common, kafka

#1027 Add expires_at field to kafka request
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/api_errors.go
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/api/public/client.go
  internal/kafka/internal/api/public/configuration.go
  internal/kafka/internal/api/public/model_cloud_provider.go
  internal/kafka/internal/api/public/model_cloud_provider_list.go
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/api/public/model_cloud_region_list.go
  internal/kafka/internal/api/public/model_error.go
  internal/kafka/internal/api/public/model_error_list.go
  internal/kafka/internal/api/public/model_instant_query.go
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_list.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/api/public/model_kafka_update_request.go
  internal/kafka/internal/api/public/model_list.go
  internal/kafka/internal/api/public/model_metrics_instant_query_list.go
  internal/kafka/internal/api/public/model_metrics_range_query_list.go
  internal/kafka/internal/api/public/model_object_reference.go
  internal/kafka/internal/api/public/model_range_query.go
  internal/kafka/internal/api/public/model_region_capacity_list_item.go
  internal/kafka/internal/api/public/model_service_account.go
  internal/kafka/internal/api/public/model_service_account_list.go
  internal/kafka/internal/api/public/model_service_account_list_item.go
  internal/kafka/internal/api/public/model_service_account_request.go
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_type.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_types_list.go
  internal/kafka/internal/api/public/model_supported_kafka_size.go
  internal/kafka/internal/api/public/model_supported_kafka_size_bytes_value_item.go
  internal/kafka/internal/api/public/model_values.go
  internal/kafka/internal/api/public/model_version_metadata.go
  internal/kafka/internal/api/public/response.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/test/integration/kafkas_test.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1031 ci: add a check to verify that make generate has been run
  .github/check_for_uncommitted_generated_code.sh
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  internal/kafka/internal/handlers/authentication.go
  internal/kafka/internal/handlers/service_accounts.go
  pkg/client/keycloak/config.go
Labels: documentation, github, common, kafka

#1028 Remove deprecated
  internal/connector/internal/handlers/connector_namespace.go
  internal/connector/internal/services/authz/authz_service.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/internal/services/connectors.go
  internal/kafka/internal/services/kafka.go
  pkg/acl/access_control_list_middleware.go
  pkg/auth/audit_log_middleware.go
  pkg/auth/context.go
  pkg/auth/context_test.go
  pkg/auth/kfm_claims.go
  pkg/auth/require_org_id_middleware.go
  pkg/auth/require_terms_acceptance_middleware.go
  pkg/auth/roles_authz_middleware.go
  pkg/services/sso/keycloak_service.go
Labels: common, connector, kafka

#1034 refactor: moved method from the generic KeycloakService interface to OSDKeycloakService
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  pkg/services/sso/keycloak.go
  pkg/services/sso/keycloak_service.go
  pkg/services/sso/keycloak_service_proxy.go
  pkg/services/sso/keycloak_service_test.go
  pkg/services/sso/keycloakservice_moq.go
  pkg/services/sso/osd_keycloak_service_moq.go
  pkg/services/sso/redhatsso_service.go
  pkg/services/sso/redhatsso_service_test.go
Labels: common, kafka

#1039 fix: remove check for EnableAuthenticationOnKafka from kafka deletion reconcile
  internal/kafka/internal/workers/kafka_mgrs/deleting_kafkas_mgr.go
Labels: kafka

#1041 chore: updating api url for sso provider to be configurable
  pkg/client/keycloak/config.go
  pkg/client/redhatsso/client.go
Labels: common

#1044 fix: developer instances should be marked as stable
  config/kafka-instance-types-configuration.yaml
  templates/service-template.yml
Labels: kafka, service-template

#1038 feat: added missing docker pull secret
  Makefile
  docker/Dockerfile_template
  pr_check.sh
Labels: kafka

#1035 chore: update Observability Operator to v3.0.10
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#1042 feat: update kafka automated deprovision expiration logic to make use of instance types config
  docs/deploying-kas-fleet-manager-to-openshift.md
  docs/feature-flags.md
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/config/kafka_supported_instance_types.go
  internal/kafka/internal/config/kafka_supported_instance_types_test.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  templates/service-template.yml
Labels: documentation, kafka, service-template, needs-app-interface-changes

#1045 feat: bumped openshift-sdk version to the latest one
  go.mod
  go.sum
  pkg/client/observatorium/api_mock.go
Labels: common

#1037 chore: remove image pull secret
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/config/dataplane_cluster_config_test.go
  secrets/image-pull.dockerconfigjson
Labels: kafka

#1007 feat: Add SelectSSOProvider flag/Add rh clientSecret/id
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  internal/kafka/internal/services/util_test.go
  pkg/client/keycloak/config.go
  pkg/providers/core.go
  templates/secrets-template.yml
  templates/service-template.yml
Labels: documentation, common, kafka, service-template

#1049 chore: remove global KAFKA_LIFE_SPAN parameter and cli flag
  Makefile
  internal/kafka/internal/config/kafka.go
  internal/kafka/internal/config/kafka_lifespan.go
  internal/kafka/internal/config/kafka_lifespan_test.go
  templates/service-template.yml
Labels: kafka, service-template, needs-app-interface-changes

#918 Add initial codecov config
  .codecov.yml
  .github/workflows/ci.yaml
Labels: github

#1026 feat: Return Kafka admin server URL in kas-fleet-manager Kafka Resource.
  internal/kafka/internal/api/admin/private/api/openapi.yaml
  internal/kafka/internal/api/admin/private/api_default.go
  internal/kafka/internal/api/dbapi/data_plane_kafka_status.go
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/model_data_plane_kafka_status.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/migrations/202205061532_add_admin_api_server_url.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/presenters/data_plane_kafka_status.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/services/data_plane_kafka.go
  internal/kafka/internal/services/data_plane_kafka_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/mocks/kasfleetshardsync/kas-fleetshard-sync.go
  openapi/kas-fleet-manager-private.yaml
  openapi/kas-fleet-manager.yaml
  pkg/client/redhatsso/client.go
Labels: common, kafka, api-change

#989 fix: IsJWTTokenExpired returning true for every input
  pkg/client/keycloak/client.go
  pkg/client/keycloak/client_test.go
  pkg/client/redhatsso/client.go
  pkg/shared/is_jwt_token_expired.go
Labels: common

#1032 fix: remove deprecation that breaks SDK
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/generated/bindata.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1051 chore: add codecov badge
  README.md
Labels: documentation

#981 test: Increase unit test coverage in internal/kafka/internal/services
  internal/kafka/internal/services/cloud_providers_test.go
  internal/kafka/internal/services/clusters_test.go
  internal/kafka/internal/services/data_plane_cluster_test.go
  internal/kafka/internal/services/kafka_instance_type_test.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kas_fleetshard_operator_addon_test.go
  internal/kafka/internal/services/observatorium_service_test.go
  internal/kafka/internal/services/quota/quota_management_list_service_test.go
  internal/kafka/test/mocks/cloud_providers/cloud_providers.go
  internal/kafka/test/mocks/clusters/clusters.go
Labels: needs-rebase, kafka

#1025 test: increase unit test coverage in /pkg/client/redhatsso
  pkg/client/redhatsso/client_test.go
  test/mocks/redhatsso.go
Labels: common

#1043 build: Update service Account SDK version
  go.mod
  go.sum
  internal/kafka/internal/presenters/serviceaccounts.go
  internal/kafka/test/mocks/service_accounts/service_accounts.go
  pkg/api/service_account_types.go
  pkg/services/sso/keycloak_service.go
  pkg/services/sso/redhatsso_service.go
  pkg/services/sso/redhatsso_service_test.go
Labels: common, kafka

#1057 fix: broken ci issue
  pkg/client/redhatsso/client_test.go
Labels: common

#1058 feat: renamed cloud_account_id to have more meaningful name
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/migrations/20220524140500_add_kafka_marketplace_cloud_account_id.go
  openapi/kas-fleet-manager.yaml
  pkg/client/redhatsso/client_test.go
Labels: common, kafka, api-change

#1062 chore: add registered_users_per_organisation parameter to deploy/service make target
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
Labels: documentation

#1033 test: fix and refactor kafka integration tests to work with rhsso
  internal/kafka/internal/handlers/service_accounts.go
  internal/kafka/internal/presenters/admin_kafka_test.go
  internal/kafka/internal/presenters/kafka_test.go
  internal/kafka/internal/workers/kafka_mgrs/accepted_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/deleting_kafkas_mgr_test.go
  internal/kafka/test/integration/auth_test.go
  internal/kafka/test/integration/cloudprovider_test.go
  internal/kafka/test/integration/data_plane_cluster_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/kafka_list_search_order_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/integration/observatorium_test.go
  internal/kafka/test/integration/serviceaccounts_test.go
  internal/kafka/test/mocks/kafkas/admin_kafkas.go
  internal/kafka/test/mocks/kafkas/kafkas.go
  internal/kafka/test/mocks/kasfleetshardsync/kas-fleetshard-sync.go
  internal/kafka/test/mocks/supported_instance_types/kafka_instance_size.go
  pkg/client/keycloak/client.go
  pkg/handlers/validation.go
  pkg/handlers/validation_test.go
  pkg/services/sso/redhatsso_service.go
  test/helper.go
Labels: common, kafka

#1066 fix: expired token sent for service account req & setting cache for g…
  pkg/client/redhatsso/client.go
  pkg/client/redhatsso/client_test.go
Labels: common

#1067 fix: documentation about accepted sso-provider-type values
  docs/deploying-kas-fleet-manager-to-openshift.md
  pkg/client/keycloak/config.go
  templates/service-template.yml
Labels: documentation, common, kafka, service-template

#1056 test: increase unit test coverage in pkg/services/account
  Makefile
  pkg/services/account/account_mock.go
  pkg/services/account/account_service_impl_test.go
  pkg/services/account/provider_test.go
Labels: common

#1046 test: pkg/client/observatorium unit tests
  Makefile
  pkg/client/observatorium/api_test.go
  pkg/client/observatorium/client_test.go
  pkg/client/observatorium/observability_config_test.go
  pkg/client/observatorium/types_test.go
Labels: needs-rebase, common
