Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2022-07, with the labels that each got.

#1154 build(deps): remove the github.com/dgrijalva/jwt-go package
  go.mod
  go.sum
  pkg/server/api_server.go
Labels: common

#1153 test(cluster_mgr): fix the TestClusterManager_SuccessfulReconcile which was failing in dev env
  internal/kafka/internal/clusters/cluster_builder.go
  internal/kafka/internal/clusters/cluster_test.go
  internal/kafka/internal/environments/integration.go
  internal/kafka/test/integration/cluster_mgr_test.go
Labels: kafka

#1156 feat: Check if kafka fails to be provisioned due to cluster fullness
  internal/kafka/internal/services/data_plane_kafka.go
  internal/kafka/internal/services/data_plane_kafka_test.go
Labels: kafka

#1130 fix(openapi): Edit of the KFM oas file + additional rules for linter to ignore
  .github/workflows/ci.yaml
  .spectral.yaml
  Makefile
  internal/kafka/internal/api/admin/private/api/openapi.yaml
  internal/kafka/internal/api/admin/private/api_default.go
  internal/kafka/internal/api/admin/private/client.go
  internal/kafka/internal/api/admin/private/configuration.go
  internal/kafka/internal/api/admin/private/model_error.go
  internal/kafka/internal/api/admin/private/model_kafka.go
  internal/kafka/internal/api/admin/private/model_kafka_all_of_routes.go
  internal/kafka/internal/api/admin/private/model_kafka_list.go
  internal/kafka/internal/api/admin/private/model_kafka_update_request.go
  internal/kafka/internal/api/admin/private/model_list.go
  internal/kafka/internal/api/admin/private/model_object_reference.go
  internal/kafka/internal/api/admin/private/model_supported_kafka_size_bytes_value_item.go
  internal/kafka/internal/api/admin/private/response.go
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/model_error.go
  internal/kafka/internal/api/private/model_object_reference.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/api_errors.go
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/api/public/client.go
  internal/kafka/internal/api/public/configuration.go
  internal/kafka/internal/api/public/model_cloud_provider.go
  internal/kafka/internal/api/public/model_cloud_provider_list.go
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/api/public/model_cloud_region_list.go
  internal/kafka/internal/api/public/model_error.go
  internal/kafka/internal/api/public/model_error_list.go
  internal/kafka/internal/api/public/model_instant_query.go
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_list.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/api/public/model_kafka_update_request.go
  internal/kafka/internal/api/public/model_list.go
  internal/kafka/internal/api/public/model_metrics_instant_query_list.go
  internal/kafka/internal/api/public/model_metrics_range_query_list.go
  internal/kafka/internal/api/public/model_object_reference.go
  internal/kafka/internal/api/public/model_range_query.go
  internal/kafka/internal/api/public/model_region_capacity_list_item.go
  internal/kafka/internal/api/public/model_service_account.go
  internal/kafka/internal/api/public/model_service_account_list.go
  internal/kafka/internal/api/public/model_service_account_list_item.go
  internal/kafka/internal/api/public/model_service_account_request.go
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_type.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_types_list.go
  internal/kafka/internal/api/public/model_supported_kafka_size.go
  internal/kafka/internal/api/public/model_supported_kafka_size_bytes_value_item.go
  internal/kafka/internal/api/public/model_values.go
  internal/kafka/internal/api/public/model_version_metadata.go
  internal/kafka/internal/api/public/response.go
  internal/kafka/internal/generated/bindata.go
  openapi/kas-fleet-manager-private-admin.yaml
  openapi/kas-fleet-manager.yaml
Labels: github, kafka, api-change

#1144 feat: dynamic scaling: add capacity_reservation to config
  Makefile
  config/dynamic-scaling-configuration.yaml
  docs/deploying-kas-fleet-manager-to-openshift.md
  docs/feature-flags.md
  internal/kafka/internal/config/dynamic_scaling_config.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#1129 test: increase coverage in pkg/services
  pkg/services/types_test.go
  pkg/services/util_test.go
Labels: common

#1166 feat: removed additional commands from kfm cli
  docs/adding-a-new-endpoint.md
  internal/kafka/internal/cmd/cloudprovider/cmd.go
  internal/kafka/internal/cmd/cloudprovider/flags.go
  internal/kafka/internal/cmd/cloudprovider/providerlist.go
  internal/kafka/internal/cmd/cloudprovider/regionlist.go
  internal/kafka/internal/cmd/cluster/cmd.go
  internal/kafka/internal/cmd/cluster/create.go
  internal/kafka/internal/cmd/cluster/flags.go
  internal/kafka/internal/cmd/errors/cmd.go
  internal/kafka/internal/cmd/errors/list.go
  internal/kafka/internal/cmd/kafka/cmd.go
  internal/kafka/internal/cmd/kafka/create.go
  internal/kafka/internal/cmd/kafka/delete.go
  internal/kafka/internal/cmd/kafka/flags.go
  internal/kafka/internal/cmd/kafka/get.go
  internal/kafka/internal/cmd/kafka/list.go
  internal/kafka/internal/cmd/observatorium/cmd.go
  internal/kafka/internal/cmd/observatorium/flags.go
  internal/kafka/internal/cmd/observatorium/get.go
  internal/kafka/internal/cmd/observatorium/query.go
  internal/kafka/internal/cmd/observatorium/query_range.go
  internal/kafka/internal/cmd/serviceaccounts/cmd.go
  internal/kafka/internal/cmd/serviceaccounts/create.go
  internal/kafka/internal/cmd/serviceaccounts/delete.go
  internal/kafka/internal/cmd/serviceaccounts/flags.go
  internal/kafka/internal/cmd/serviceaccounts/list.go
  internal/kafka/internal/cmd/serviceaccounts/resetcreds.go
  internal/kafka/internal/cmd/supportedkafkainstancetypes/cmd.go
  internal/kafka/internal/cmd/supportedkafkainstancetypes/flags.go
  internal/kafka/internal/cmd/supportedkafkainstancetypes/get.go
  internal/kafka/providers.go
Labels: documentation, kafka

#1162 feat: Add reserved managed kafka generation
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/api_agent_clusters.go
  internal/kafka/internal/api/private/client.go
  internal/kafka/internal/api/private/configuration.go
  internal/kafka/internal/api/private/model_data_plane_cluster_update_status_request.go
  internal/kafka/internal/api/private/model_data_plane_cluster_update_status_request_capacity.go
  internal/kafka/internal/api/private/model_data_plane_cluster_update_status_request_conditions.go
  internal/kafka/internal/api/private/model_data_plane_cluster_update_status_request_strimzi.go
  internal/kafka/internal/api/private/model_data_plane_kafka_status.go
  internal/kafka/internal/api/private/model_data_plane_kafka_status_capacity.go
  internal/kafka/internal/api/private/model_data_plane_kafka_status_routes.go
  internal/kafka/internal/api/private/model_data_plane_kafka_status_versions.go
  internal/kafka/internal/api/private/model_dataplane_cluster_agent_config.go
  internal/kafka/internal/api/private/model_dataplane_cluster_agent_config_spec.go
  internal/kafka/internal/api/private/model_dataplane_cluster_agent_config_spec_capacity.go
  internal/kafka/internal/api/private/model_dataplane_cluster_agent_config_spec_observability.go
  internal/kafka/internal/api/private/model_error.go
  internal/kafka/internal/api/private/model_list_reference.go
  internal/kafka/internal/api/private/model_managed_kafka.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_metadata.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_metadata_annotations.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_metadata_labels.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_spec.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_spec_endpoint.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_spec_endpoint_tls.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_spec_oauth.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_spec_service_accounts.go
  internal/kafka/internal/api/private/model_managed_kafka_capacity.go
  internal/kafka/internal/api/private/model_managed_kafka_list.go
  internal/kafka/internal/api/private/model_managed_kafka_versions.go
  internal/kafka/internal/api/private/model_private_object_reference.go
  internal/kafka/internal/api/private/model_watch_event.go
  internal/kafka/internal/api/private/response.go
  internal/kafka/internal/handlers/data_plane_kafka.go
  internal/kafka/internal/handlers/data_plane_kafka_test.go
  internal/kafka/internal/presenters/managedkafka.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/accepted_kafkas_mgr.go
  openapi/kas-fleet-manager-private.yaml
  pkg/api/cluster_types.go
  pkg/api/cluster_types_test.go
  pkg/api/managedkafkas.managedkafka.bf2.org/v1/types.go
Labels: common, kafka, api-change

#1164 test: increased unit test coverage in /pkg/errors
  pkg/errors/errors.go
  pkg/errors/errors_test.go
Labels: common

#1170 fixing the err should be returned first
  pkg/services/sso/redhatsso_service.go
Labels: common

#1171 feat(cluster-metrics): add cluster capacity metrics for when dynamic scaling is turned on
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  internal/kafka/test/common/kafka_pollers.go
  internal/kafka/test/integration/cluster_mgr_test.go
  pkg/metrics/metrics.go
Labels: common, kafka

#1174 feat: report a user friendly error message on data plane failed states
  internal/kafka/internal/services/data_plane_kafka.go
  internal/kafka/internal/services/data_plane_kafka_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
Labels: kafka

#1157 test: pkg/db/config unit tests
  pkg/db/config_test.go
Labels: common

#1183 chore: Deprecate size limits in the KafkaRequest schema
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/presenters/kafka_test.go
  internal/kafka/test/integration/kafkas_test.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1181 feat: Re-assign Kafka to another OSD cluster when Rejected with ClusterFull reason
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/provisioning_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/provisioning_kafkas_mgr_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
Labels: kafka

#1189 Containerize mkv mr creation for release
  build_deploy.sh
  create_release.sh
  docker/Dockerfile_build
Labels: kafka

#1191 feat: add minimum available capacity slack concept
  config/provider-configuration.yaml
  internal/kafka/internal/config/providers.go
  internal/kafka/internal/config/providers_test.go
Labels: kafka

#1193 refactor: make mock update functions in fleetshard-sync typed functions
  internal/kafka/test/mocks/kasfleetshardsync/kas-fleetshard-sync.go
Labels: kafka

#1194 feat: don't call OCM in development environment testing for clusters with standalone ProviderTypes
  internal/kafka/test/mocks/kasfleetshardsync/kas-fleetshard-sync.go
Labels: kafka

#1195 test(integration): harden the TestDataPlaneCluster_GetManagedKafkaAgentCRAndObserveCapacityInfo test
  internal/kafka/test/integration/data_plane_cluster_test.go
Labels: kafka

#1197 feat: Add dynamic scaleup reconciler structure
  cmd/kas-fleet-manager/main_test.go
  internal/kafka/internal/migrations/20220720180000_dynamic_scaleup_worker_to_leader_leases.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scaleup_mgr.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/providers.go
  pkg/workers/leader_election_mgr.go
Labels: common, kafka

#1167 feat: take cluster max streaming unit into account for first ready cluster strategy
  internal/kafka/internal/services/cluster_placement_strategy.go
  internal/kafka/internal/services/cluster_placement_strategy_test.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusters_test.go
  internal/kafka/internal/services/clusterservice_moq.go
  internal/kafka/internal/services/data_plane_cluster.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  internal/kafka/test/integration/cluster_mgr_test.go
  internal/kafka/test/integration/kafka_create_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/mocks/clusters/clusters.go
  internal/kafka/test/mocks/kafkas/kafkas.go
  pkg/api/cluster_types.go
  pkg/api/cluster_types_test.go
Labels: common, kafka

#1199 test(integration): harden TestDataPlaneCluster_GetManagedKafkaAgentCRAndObserveCapacityInfo
  internal/kafka/test/integration/data_plane_cluster_test.go
Labels: kafka

#1198 refactor: move reconcileClustersForRegions from clusters mgr to dynamic scaleup manager
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scaleup_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scaleup_mgr_test.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#1204 fix(autoscaling): set min nodes to 1 in order to allow the autoscaler to consider the machineset for autoscaling
  internal/kafka/internal/workers/clusters_mgr.go
Labels: kafka

#1206 refactor(cluster_mgr): reconcile cluster dns first before cluster identity provider
  internal/kafka/internal/workers/clusters_mgr.go
Labels: kafka

#1208 fix(cluster_mgr): harden setKafkaPerClusterCountMetrics to not err when ClusterID is empty
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#1203 fix(connectors): fixes MGDCTRS-1129, MGDCTRS-1128: cleaned up search and order by fields, added support for ILIKE comparision
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/api/admin/private/api_connector_namespaces_admin.go
  internal/connector/internal/api/admin/private/api_connector_types.go
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/api_connector_clusters.go
  internal/connector/internal/api/public/api_connector_namespaces.go
  internal/connector/internal/api/public/api_connector_types.go
  internal/connector/internal/api/public/api_connectors.go
  internal/connector/internal/generated/bindata.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/internal/services/connector_namespaces.go
  internal/connector/internal/services/connector_types.go
  internal/connector/internal/services/connectors.go
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-api.feature
  internal/connector/test/integration/features/connector-multitenancy-api.feature
  internal/kafka/internal/api/admin/private/api/openapi.yaml
  internal/kafka/internal/api/admin/private/api_default.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/generated/bindata.go
  openapi/connector_mgmt.yaml
  openapi/kas-fleet-manager.yaml
  pkg/services/queryparser/query_parser.go
  pkg/services/queryparser/query_parser_test.go
Labels: common, connector, kafka, api-change, connector-api-change

#1196 feat(connectors): fixes MGDCTRS-912, add support for force query option for deleting namespaces
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connector_agent.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/internal/services/connector_namespaces.go
  internal/connector/test/integration/features/connector-agent-api.feature
  openapi/connector_mgmt-private-admin.yaml
Labels: connector, connector-api-change

#1202 feat(prewarming): make it possible for manual clusters to make use of pre-warming
  Makefile
  config/dynamic-scaling-configuration.yaml
  config/node-prewarming-configuration.yaml
  docs/deploying-kas-fleet-manager-to-openshift.md
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/config/dynamic_scaling_config.go
  internal/kafka/internal/config/node_prewarming_config.go
  internal/kafka/internal/config/node_prewarming_config_test.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/providers.go
  internal/kafka/test/integration/kafka_create_test.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#1207 refactor: dynamic data plane scale up reconciler logic
  internal/kafka/internal/config/kafka_supported_instance_types_test.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scaleup_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scaleup_mgr_test.go
  pkg/errors/errors.go
  pkg/errors/errors_test.go
Labels: common, kafka

#1210 feat: add logging to dynamic scale up functionality
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scaleup_mgr.go
Labels: kafka

#1201 refactor:return error type for FindCluster in cluster placement strategy interface
  internal/kafka/internal/handlers/cloud_providers_test.go
  internal/kafka/internal/services/cluster_placement_strategy.go
  internal/kafka/internal/services/cluster_placement_strategy_moq.go
  internal/kafka/internal/services/cluster_placement_strategy_test.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusterservice_moq.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/provisioning_kafkas_mgr_test.go
  internal/kafka/test/common/util.go
Labels: kafka

#1211 fix(clusters): ignore kafkas in deleting state in streaming unit count
  internal/kafka/internal/services/clusters.go
  internal/kafka/test/integration/cluster_service_test.go
Labels: kafka

#1215 feat: replace dynamic scale up mechanism
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scaleup_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scaleup_mgr_test.go
  internal/kafka/test/helper.go
  internal/kafka/test/integration/cluster_mgr_test.go
  internal/kafka/test/integration/kafka_create_test.go
  internal/kafka/test/integration/kafkas_test.go
Labels: kafka

#1218 fix(machinepool): correct machinepool label key
  internal/kafka/internal/workers/clusters_mgr.go
Labels: kafka
