Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2022-10, with the labels that each got.

#1293 feat: admin endpoints sso migration
  Makefile
  config/admin-authz-configuration.yaml
  docs/admin-api-endpoints-authorization.md
  docs/deploying-kas-fleet-manager-to-openshift.md
  internal/connector/internal/environments/development.go
  internal/connector/internal/environments/integration.go
  internal/connector/internal/handlers/authentication.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/test/integration/features/connector-admin-api.feature
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-multitenancy-api.feature
  internal/kafka/internal/environments/development.go
  internal/kafka/internal/environments/integration.go
  internal/kafka/internal/handlers/authentication.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/test/integration/admin_kafka_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  pkg/auth/roles_authz.go
  pkg/auth/roles_authz_middleware.go
  pkg/auth/roles_authz_middleware_test.go
  pkg/client/keycloak/config.go
  pkg/providers/core.go
  templates/service-template.yml
  test/cucumber/user.go
Labels: documentation, common, connector, kafka, service-template, needs-app-interface-changes

#1243 MGDCTRS-1235: Add openshift/kubernetes cluster info to the the private agent APIs
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/api/admin/private/model_connector_cluster.go
  internal/connector/internal/api/admin/private/model_connector_cluster_admin_list.go
  internal/connector/internal/api/admin/private/model_connector_cluster_admin_status.go
  internal/connector/internal/api/admin/private/model_connector_cluster_admin_status_operators.go
  internal/connector/internal/api/admin/private/model_connector_cluster_admin_view.go
  internal/connector/internal/api/admin/private/model_connector_cluster_list.go
  internal/connector/internal/api/admin/private/model_connector_cluster_platform.go
  internal/connector/internal/api/admin/private/model_connector_cluster_status.go
  internal/connector/internal/api/admin/private/model_connector_cluster_status_status.go
  internal/connector/internal/api/dbapi/connector_cluster.go
  internal/connector/internal/api/private/api/openapi.yaml
  internal/connector/internal/api/private/model_connector_cluster_platform.go
  internal/connector/internal/api/private/model_connector_cluster_status.go
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/migrations/202209270000_add_connector_cluster_platform.go
  internal/connector/internal/migrations/migrations.go
  internal/connector/internal/presenters/connector_cluster.go
  internal/connector/internal/presenters/connector_cluster_status.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/test/integration/features/connector-admin-api.feature
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-cluster-admin-api.feature
  openapi/connector_mgmt-private-admin.yaml
  openapi/connector_mgmt-private.yaml
  test/cucumber/scenario.go
Labels: common, connector, connector-api-change

#1337 fix(cos): use the right admin role name
  internal/connector/test/integration/features/connector-cluster-admin-api.feature
Labels: connector

#1338 feat: update Go version to 1.19.2
  .github/workflows/ci.yaml
  Dockerfile
  docker/Dockerfile_template
  docker/Dockerfile_template_mocked
Labels: github, kafka, service-template

#1345 refactor(kafka): remove unused constant
  internal/kafka/constants/kafka.go
Labels: kafka

#1322 chore: example of using the new array utilities
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/handlers/data_plane_kafka.go
  internal/kafka/internal/services/clusters.go
  pkg/api/cluster_types.go
  pkg/api/metadata.go
  pkg/auth/require_issuer_middleware.go
  pkg/auth/roles_authz_middleware.go
  pkg/client/keycloak/client.go
  pkg/client/observatorium/api.go
  pkg/services/queryparser/query_parser.go
  pkg/shared/utils/arrays/common_predicates.go
  pkg/shared/utils/arrays/common_predicates_test.go
  pkg/shared/utils/arrays/generic_array_utils.go
Labels: common, kafka

#1344 feat: add handling of suspended field in admin api patch kafka
  internal/kafka/constants/kafka.go
  internal/kafka/internal/api/admin/private/api/openapi.yaml
  internal/kafka/internal/api/admin/private/model_kafka_update_request.go
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/model_managed_kafka_all_of_metadata_labels.go
  internal/kafka/internal/handlers/admin_kafka.go
  internal/kafka/internal/handlers/admin_kafka_test.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/presenters/managedkafka.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/test/integration/admin_kafka_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  openapi/kas-fleet-manager-private-admin.yaml
  openapi/kas-fleet-manager-private.yaml
  pkg/api/managedkafkas.managedkafka.bf2.org/v1/types.go
Labels: common, kafka, api-change

#1346 feat: set suspended status reported by fleetshard
  internal/kafka/constants/kafka.go
  internal/kafka/internal/handlers/admin_kafka.go
  internal/kafka/internal/handlers/admin_kafka_test.go
  internal/kafka/internal/services/data_plane_kafka.go
  internal/kafka/internal/services/data_plane_kafka_test.go
  internal/kafka/test/integration/admin_kafka_suspension_test.go
  internal/kafka/test/integration/admin_kafka_test.go
  internal/kafka/test/mocks/kasfleetshardsync/kas-fleetshard-sync.go
Labels: do-not-merge, kafka

#1357 feat: set route53 regional endpoints per cloud provider
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  pkg/client/aws/client.go
Labels: common, kafka

#1355 Reduce number of calls made from integration test to the SSO service
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/test/integration/admin_kafka_test.go
  internal/kafka/test/integration/cloudprovider_test.go
  internal/kafka/test/integration/cluster_metrics_test.go
  internal/kafka/test/integration/cluster_mgr_test.go
  internal/kafka/test/integration/cluster_service_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/kafka_create_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/integration/require_terms_acceptance_middleware_test.go
Labels: kafka

#1360 test(integration): harden the TestAdminKafka_Update test
  internal/kafka/test/integration/admin_kafka_test.go
Labels: kafka

#1359 Put in place config and code change to allow the midstream pipelines to run against RH SSO as the SSO provider
  README.md
  docker/Dockerfile_template
  docker/Dockerfile_template_mocked
  internal/connector/internal/environments/development.go
  internal/connector/internal/environments/integration.go
  internal/kafka/internal/environments/development.go
  internal/kafka/internal/environments/integration.go
  internal/kafka/internal/workers/cluster_mgrs/cleanup_clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/cleanup_clusters_mgr_test.go
  internal/kafka/test/helper.go
  internal/kafka/test/integration/cluster_mgr_test.go
  internal/kafka/test/integration/kafka_create_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/integration/serviceaccounts_test.go
  pr_check.sh
  pr_check_docker.sh
  scripts/mas_sso_config.sh
Labels: documentation, common, connector, kafka

#1362 fix: fixed an issue in the IsNil predicate function
  internal/kafka/internal/handlers/admin_kafka.go
  internal/kafka/internal/handlers/validation.go
  pkg/shared/util.go
  pkg/shared/util_test.go
  pkg/shared/utils/arrays/common_predicates.go
  pkg/shared/utils/arrays/common_predicates_test.go
Labels: common, kafka
