Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2022-11, with the labels that each got.

#1369 fix: removed dependency on the bash timeout command
  scripts/mas_sso_config.sh
Labels: common

#1374 test(integration): ensure service accounts are deleted
  docs/automated-testing.md
  internal/kafka/test/helper.go
  internal/kafka/test/integration/admin_kafka_suspension_test.go
  internal/kafka/test/integration/cluster_mgr_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
Labels: documentation, kafka

#1371 feat: Add supported_billing_models subsection to supported instance types config
  config/kafka-instance-types-configuration.yaml
  internal/kafka/internal/config/dynamic_scaling_config.go
  internal/kafka/internal/config/kafka_supported_instance_types.go
  internal/kafka/internal/config/kafka_supported_instance_types_test.go
  internal/kafka/internal/config/validator.go
  internal/kafka/internal/config/validator_test.go
  internal/kafka/internal/services/cluster_placement_strategy_test.go
  internal/kafka/test/integration/cloudprovider_test.go
  pkg/client/ocm/types.go
  templates/service-template.yml
Labels: common, kafka, service-template, needs-app-interface-changes

#1364 feat: expose metric with kafka status set timestamp
  internal/kafka/internal/services/data_plane_kafka.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/preparing_kafkas_mgr.go
  internal/kafka/test/integration/admin_kafka_suspension_test.go
  internal/kafka/test/integration/kafka_create_test.go
  pkg/metrics/metrics.go
Labels: common, kafka

#1376 fix: minor issues with newly added metric
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  pkg/metrics/metrics.go
Labels: common, kafka

#1378 chore: temporarily remove mandatory kafka supported_billing_models
  internal/kafka/internal/config/kafka_supported_instance_types.go
  internal/kafka/internal/config/kafka_supported_instance_types_test.go
Labels: kafka

#1377 fix(db): remove the newly registered clusters creation request
  internal/kafka/internal/migrations/20221104090000_remove_the_wrongly_auto_created_cluster_from_stage_environment_with_id_cdhunvd8igjhbi0nmtt0.go
  internal/kafka/internal/migrations/migrations.go
Labels: kafka

#1363 chore: added Suspended, Suspending and Resuming statuses to the request status count metric
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/test/integration/admin_kafka_suspension_test.go
Labels: needs-rebase, kafka

#1379 add kafka supported billing models to instance_types endpoint
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/api_errors.go
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/api/public/client.go
  internal/kafka/internal/api/public/configuration.go
  internal/kafka/internal/api/public/model_cloud_provider.go
  internal/kafka/internal/api/public/model_cloud_provider_list.go
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/api/public/model_cloud_region_list.go
  internal/kafka/internal/api/public/model_error.go
  internal/kafka/internal/api/public/model_error_list.go
  internal/kafka/internal/api/public/model_instant_query.go
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_list.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/api/public/model_kafka_update_request.go
  internal/kafka/internal/api/public/model_list.go
  internal/kafka/internal/api/public/model_metrics_instant_query_list.go
  internal/kafka/internal/api/public/model_metrics_range_query_list.go
  internal/kafka/internal/api/public/model_object_reference.go
  internal/kafka/internal/api/public/model_range_query.go
  internal/kafka/internal/api/public/model_region_capacity_list_item.go
  internal/kafka/internal/api/public/model_service_account.go
  internal/kafka/internal/api/public/model_service_account_list.go
  internal/kafka/internal/api/public/model_service_account_list_item.go
  internal/kafka/internal/api/public/model_service_account_request.go
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/api/public/model_supported_kafka_billing_model.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_type.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_types_list.go
  internal/kafka/internal/api/public/model_supported_kafka_size.go
  internal/kafka/internal/api/public/model_supported_kafka_size_bytes_value_item.go
  internal/kafka/internal/api/public/model_values.go
  internal/kafka/internal/api/public/model_version_metadata.go
  internal/kafka/internal/api/public/response.go
  internal/kafka/internal/presenters/kafka_instance_types.go
  internal/kafka/internal/services/kafka_instance_type_test.go
  internal/kafka/internal/services/kafka_instance_types.go
  internal/kafka/internal/services/kafka_test.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1386 fix: fix quota misspells
  internal/kafka/internal/services/quota/default_quota_service_factory.go
  internal/kafka/internal/services/quota/quota_management_list_service_test.go
  internal/kafka/internal/services/quota_service_factory.go
  internal/kafka/internal/services/quota_service_factory_moq.go
  internal/kafka/internal/workers/kafka_mgrs/deleting_kafkas_mgr_test.go
Labels: kafka

#1383 chore: deprecate quota_type from supported instance types endpoint
  config/kafka-instance-types-configuration.yaml
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/api_errors.go
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/api/public/client.go
  internal/kafka/internal/api/public/configuration.go
  internal/kafka/internal/api/public/model_cloud_provider.go
  internal/kafka/internal/api/public/model_cloud_provider_list.go
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/api/public/model_cloud_region_list.go
  internal/kafka/internal/api/public/model_error.go
  internal/kafka/internal/api/public/model_error_list.go
  internal/kafka/internal/api/public/model_instant_query.go
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_list.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/api/public/model_kafka_update_request.go
  internal/kafka/internal/api/public/model_list.go
  internal/kafka/internal/api/public/model_metrics_instant_query_list.go
  internal/kafka/internal/api/public/model_metrics_range_query_list.go
  internal/kafka/internal/api/public/model_object_reference.go
  internal/kafka/internal/api/public/model_range_query.go
  internal/kafka/internal/api/public/model_region_capacity_list_item.go
  internal/kafka/internal/api/public/model_service_account.go
  internal/kafka/internal/api/public/model_service_account_list.go
  internal/kafka/internal/api/public/model_service_account_list_item.go
  internal/kafka/internal/api/public/model_service_account_request.go
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/api/public/model_supported_kafka_billing_model.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_type.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_types_list.go
  internal/kafka/internal/api/public/model_supported_kafka_size.go
  internal/kafka/internal/api/public/model_supported_kafka_size_bytes_value_item.go
  internal/kafka/internal/api/public/model_values.go
  internal/kafka/internal/api/public/model_version_metadata.go
  internal/kafka/internal/api/public/response.go
  internal/kafka/internal/config/kafka_supported_instance_types.go
  internal/kafka/internal/config/kafka_supported_instance_types_test.go
  internal/kafka/internal/presenters/kafka_instance_types.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/quota/quota_management_list_service_test.go
  internal/kafka/test/integration/cloudprovider_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/mocks/supported_instance_types/kafka_instance_size.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1365 Patch connectors
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/api/admin/private/model_connector_admin_request.go
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connectors.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/test/integration/features/connector-admin-api.feature
  internal/connector/test/integration/features/connector-agent-api.feature
  openapi/connector_mgmt-private-admin.yaml
Labels: connector, connector-api-change

#1396 chore: change default gcp kafka standard instance to custom-4-32768-ext
  config/dynamic-scaling-configuration.yaml
Labels: kafka

#1391 Add kafka desired and existing billingmodel
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/migrations/20221109140000_add_desired_kafka_billing_model.go
  internal/kafka/internal/migrations/20221109150000_rename_kafka_billing_model_column.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/presenters/kafka_test.go
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  internal/kafka/test/mocks/kafkas/kafkas.go
Labels: kafka

#1397 refactor: fix naming issues with kafka internal constants package
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/data_plane_cluster.go
  internal/kafka/internal/services/data_plane_kafka.go
  internal/kafka/internal/services/data_plane_kafka_test.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/accepted_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/accepted_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/deleting_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/deleting_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/preparing_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/preparing_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/provisioning_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/provisioning_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/ready_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/ready_kafkas_mgr_test.go
  internal/kafka/test/common/kafka_pollers.go
  internal/kafka/test/integration/cluster_mgr_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/kafka_create_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/integration/observatorium_test.go
  pkg/metrics/metrics.go
Labels: common, kafka

#1398 fix(linting): address a few linting issues
  internal/kafka/internal/config/kafka_supported_instance_types.go
  internal/kafka/internal/services/data_plane_kafka.go
Labels: kafka

#1401 chore: disable osd idp for kafka development environment by default
  internal/kafka/internal/environments/development.go
Labels: kafka

#1343 fix(connectors):fix reference to List scheme in OpenAPI admin definition
  openapi/connector_mgmt-private-admin.yaml
Labels: connector, connector-api-change

#1399 feat(connectors): fixes MGDCTRS-1635, support for loading connectors metadata from yaml config files
  internal/connector/internal/config/connectors.go
  internal/connector/internal/config/connectors_test.go
  internal/connector/test/bad-connector-metadata/bad-connector-metadata.yaml
  internal/connector/test/integration/connector-metadata/aws-sqs-source-v1alpha1-metadata.yaml
  internal/connector/test/integration/connector-metadata/log_sink_0.1_metadata.yaml
  internal/connector/test/integration/feature_test.go
  internal/connector/test/missing-connector-metadata/log_sink_0.1_metadata.yaml
  internal/connector/test/unknown-connector-metadata/aws-sqs-source-v1alpha1-metadata.yaml
  internal/connector/test/unknown-connector-metadata/log_sink_0.1_metadata.yaml
Labels: connector

#1402 fix(connectors): fixes MGDCTRS-1691, fixed query to correctly count number of featured connectors
  internal/connector/internal/services/connector_types.go
  internal/connector/test/integration/connector-metadata/aws-sqs-source-v1alpha1-metadata.yaml
  internal/connector/test/integration/connector-metadata/log_sink_0.1_metadata.yaml
  internal/connector/test/integration/features/connector-api.feature
  internal/connector/test/missing-connector-metadata/log_sink_0.1_metadata.yaml
  internal/connector/test/unknown-connector-metadata/aws-sqs-source-v1alpha1-metadata.yaml
  internal/connector/test/unknown-connector-metadata/log_sink_0.1_metadata.yaml
Labels: connector

#1406 feat(streaming-unit): bump the total max connection limits to new supported values
  config/kafka-instance-types-configuration.yaml
  templates/service-template.yml
Labels: kafka, service-template

#1407 feat: improve logging and returned errors content in data plane kafka
  internal/kafka/internal/services/data_plane_kafka.go
  internal/kafka/internal/services/data_plane_kafka_test.go
Labels: kafka

#1409 refactor: rename kafka service GetById to GetByID
  internal/kafka/internal/services/data_plane_kafka.go
  internal/kafka/internal/services/data_plane_kafka_test.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/accepted_kafkas_mgr_test.go
Labels: kafka

#1410 refactor: rename cluster service GetClientId to GetClientID
  internal/connector/internal/services/connector_cluster.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusters_test.go
  internal/kafka/internal/services/clusterservice_moq.go
  internal/kafka/test/mocks/kasfleetshardsync/kas-fleetshard-sync.go
  pkg/auth/auth_agent_service.go
  pkg/auth/auth_agent_service_moq.go
  pkg/auth/operator_authz_middleware.go
  pkg/auth/operator_authz_middleware_test.go
Labels: common, connector, kafka

#1411 refactor: rename cluster service FindNonEmptyClusterById initialism
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusters_test.go
  internal/kafka/internal/services/clusterservice_moq.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr_test.go
Labels: kafka

#1412 feat: rename cluster service ListAllClusterIds initialism
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusters_test.go
  internal/kafka/internal/services/clusterservice_moq.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
Labels: kafka

#1413 refactor: rename clusterIds initialisms in cluster service methods
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusterservice_moq.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
Labels: kafka

#1368 feat: Added support for KFM Billing Models to QUOTA-LIST
  config/quota-management-list-configuration.yaml
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/quota.go
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  internal/kafka/internal/services/quota/quota_management_list_service.go
  internal/kafka/internal/services/quota/quota_management_list_service_test.go
  internal/kafka/internal/services/quotaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/accepted_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/deleting_kafkas_mgr_test.go
  internal/kafka/test/integration/kafkas_test.go
  pkg/quota_management/account.go
  pkg/quota_management/account_test.go
  pkg/quota_management/billing_model.go
  pkg/quota_management/organisation.go
  pkg/quota_management/organisation_test.go
  pkg/quota_management/quota.go
  pkg/quota_management/quota_management_list.go
  pkg/quota_management/quota_management_list_test.go
  pkg/quota_management/shared.go
Labels: common, kafka

#1415 feat: set current kafka status to 1 and others to 0 for kafka_requests_current_status_info metric
  internal/kafka/constants/kafka.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/test/integration/admin_kafka_suspension_test.go
  pkg/metrics/metrics.go
Labels: common, kafka

#1408 Clarify KAS Fleet Manager OpenAPI Error attributes
  internal/kafka/internal/api/admin/private/api/openapi.yaml
  internal/kafka/internal/api/admin/private/model_error.go
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/model_error.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/api_errors.go
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/api/public/client.go
  internal/kafka/internal/api/public/configuration.go
  internal/kafka/internal/api/public/model_cloud_provider.go
  internal/kafka/internal/api/public/model_cloud_provider_list.go
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/api/public/model_cloud_region_list.go
  internal/kafka/internal/api/public/model_error.go
  internal/kafka/internal/api/public/model_error_list.go
  internal/kafka/internal/api/public/model_instant_query.go
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_list.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/api/public/model_kafka_update_request.go
  internal/kafka/internal/api/public/model_list.go
  internal/kafka/internal/api/public/model_metrics_instant_query_list.go
  internal/kafka/internal/api/public/model_metrics_range_query_list.go
  internal/kafka/internal/api/public/model_object_reference.go
  internal/kafka/internal/api/public/model_range_query.go
  internal/kafka/internal/api/public/model_region_capacity_list_item.go
  internal/kafka/internal/api/public/model_service_account.go
  internal/kafka/internal/api/public/model_service_account_list.go
  internal/kafka/internal/api/public/model_service_account_list_item.go
  internal/kafka/internal/api/public/model_service_account_request.go
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/api/public/model_supported_kafka_billing_model.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_type.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_types_list.go
  internal/kafka/internal/api/public/model_supported_kafka_size.go
  internal/kafka/internal/api/public/model_supported_kafka_size_bytes_value_item.go
  internal/kafka/internal/api/public/model_values.go
  internal/kafka/internal/api/public/model_version_metadata.go
  internal/kafka/internal/api/public/response.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1418 fix(connectors): fixes MGDCTRS-1547, fixed connector type id length check, bumped id length to 63
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connector_types.go
  internal/connector/internal/handlers/connectors.go
Labels: bug, connector

#1367 feat(connectors): moved vault credentials config files
  README.md
  internal/connector/internal/services/vault/config.go
  secrets/vault/.gitignore
Labels: documentation, connector
