Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2022-09, with the labels that each got.

#1275 refactor: minor change in query parser error message.
  pkg/services/queryparser/query_parser.go
Labels: common

#1271 test: increase coverage in pkg/db/context.go
  pkg/db/context_test.go
Labels: common

#1279 Increase db max connections limit
  .github/workflows/ci.yaml
  db_setup_docker.sql
  scripts/local_db_setup.sh
Labels: github, common

#1283 feat: embed OpenAPI contents using Go embed
  Makefile
  internal/connector/internal/generated/bindata.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/test/main/main.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/routes/route_loader.go
  openapi/embeddedconnectormgmt.go
  openapi/embeddedkasfleetmanager.go
  pkg/shared/load_openapi_spec.go
  pkg/shared/load_openapi_spec_test.go
Labels: common, connector, kafka

#1251 feat: add cluster_provider_resource_quota_max_allowed metric
  internal/kafka/internal/clusters/ocm_provider.go
  internal/kafka/internal/clusters/ocm_provider_test.go
  internal/kafka/internal/clusters/provider.go
  internal/kafka/internal/clusters/provider_moq.go
  internal/kafka/internal/clusters/standalone_provider.go
  internal/kafka/internal/clusters/standalone_provider_test.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  internal/kafka/test/integration/cluster_metrics_test.go
  internal/kafka/test/integration/ocm_client_test.go
  pkg/client/ocm/client.go
  pkg/client/ocm/client_moq.go
  pkg/client/ocm/client_test.go
  pkg/metrics/metrics.go
  test/mocks/api_server.go
Labels: common, kafka

#1267 Add scale down manager
  cmd/kas-fleet-manager/main_test.go
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/migrations/20220829200000_dynamic_scale_down_worker_to_leader_leases.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/workers/cluster_mgrs/cleanup_clusters_mgr_test.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr_test.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_down_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_down_mgr_test.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scaleup_mgr.go
  internal/kafka/providers.go
  internal/kafka/test/helper.go
  internal/kafka/test/integration/cluster_mgr_test.go
Labels: kafka

#1290 feat: cache ams external id to org id mapping
  pkg/client/ocm/client.go
  pkg/client/ocm/client_test.go
Labels: common

#1294 refactor(dynamic_scale_down_mgr): quote the cluster_id to deal with the case of an empty string
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_down_mgr.go
Labels: kafka

#1295 chore: rename dynamic_scaleup_mgr worker files to dynamic_scale_up_mgr
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_up_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_up_mgr_test.go
Labels: kafka

#1297 feat: update Go version to 1.19.1
  .github/workflows/ci.yaml
  Dockerfile
  docker/Dockerfile_template
  docker/Dockerfile_template_mocked
Labels: github, kafka, service-template

#1292 fix(connectors): MGDCTRS-1416: removed tid Undeclared query param referenced in ConnectorsHandler.Create
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connector_validation.go
  internal/connector/internal/handlers/connectors.go
  internal/connector/internal/services/connectors.go
Labels: connector

#1298 feat: updated base ubi images to the latest major version
  Dockerfile
  docker/Dockerfile_build
Labels: kafka, service-template

#1285 feat: make Observability Operator version used by KFM configurable by CLI flags
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  docs/feature-flags.md
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  pkg/constants/operators.go
  templates/service-template.yml
Labels: documentation, common, kafka, service-template, needs-app-interface-changes

#1305 fix(ocm): iterates through all the list of quota and apply filter once
  pkg/client/ocm/client.go
Labels: common

#1308 feat: Ensure rhosak gcp onlybilled in rhm
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
Labels: kafka

#1311 feat: update observability operator to v3.0.15
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#991 feat(connectors): fixes APPSRE-4651, added support for vault-secret-prefix flag to add a prefix to all aws vault secret keys, defaults to managed-connectors/
  internal/connector/internal/handlers/connector_secrets.go
  internal/connector/internal/services/vault/config.go
  internal/connector/internal/services/vault/providers.go
  internal/connector/internal/services/vault/vault_service_aws.go
  internal/connector/internal/services/vault/vault_service_aws_test.go
  internal/connector/internal/services/vault/vault_service_test.go
Labels: connector

#1315 Add dynamic scaling config unit tests
  internal/kafka/internal/config/dynamic_scaling_config.go
  internal/kafka/internal/config/dynamic_scaling_config_test.go
Labels: kafka

#1319 feat: show error message on metric fetch failure
  pkg/client/observatorium/api.go
Labels: common

#1316 test(cluster_mgr): add missing machinepool verification integration tests
  internal/kafka/test/integration/cluster_mgr_test.go
Labels: kafka

#1323 perf(metrics): distribute metrics queries
  pkg/client/observatorium/api.go
Labels: common

#1320 feat(prewarming): add reserved instances metrics
  internal/kafka/internal/services/data_plane_kafka.go
  internal/kafka/internal/services/data_plane_kafka_service_moq.go
  internal/kafka/internal/services/data_plane_kafka_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  pkg/metrics/metrics.go
Labels: common, kafka

#1331 fix missing columns errors and unmarshaling errors from some integration tests
  internal/kafka/test/integration/cluster_metrics_test.go
  internal/kafka/test/integration/cluster_service_test.go
Labels: kafka

#1332 fix(dynamic_scale_up): ensure that clusters in deleting state are skipped during capacity evaluation
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_up_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_up_mgr_test.go
Labels: kafka

#1321 feat: expose the fleet manager version
  internal/connector/test/integration/features/connector-api.feature
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_version_metadata.go
  internal/kafka/test/integration/kafka/features/kafka-api.feature
  internal/kafka/test/integration/metadata_test.go
  openapi/kas-fleet-manager.yaml
  pkg/api/metadata.go
  pkg/api/metadata_types.go
Labels: common, connector, kafka, api-change

#1333 build(dockerfile): ensure that docker in installed so that commitsha is read during build
  Dockerfile
Labels: kafka, service-template
