Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2022-06, with the labels that each got.

#1059 Mgdstrm 8579
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/handlers/kafka.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/services/quota.go
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  internal/kafka/internal/services/quota/quota_management_list_service.go
  internal/kafka/internal/services/quotaservice_moq.go
  pkg/client/ocm/client.go
  pkg/errors/errors.go
Labels: common, kafka

#1077 fix: record billing account id in related resource
  go.mod
  go.sum
  internal/kafka/internal/services/quota/ams_quota_service.go
Labels: kafka

#1069 test: increase unit test coverage in /pkg/services/sso
  Makefile
  pkg/services/sso/keycloak_service_builder_test.go
  pkg/services/sso/keycloak_service_test.go
  pkg/services/sso/redhatsso_service_test.go
Labels: common

#1061 feat: add a dedicated model to represent connector namespace within private api
  internal/connector/internal/api/private/api/openapi.yaml
  internal/connector/internal/api/private/api_connector_clusters_agent.go
  internal/connector/internal/api/private/model_connector_cluster_status.go
  internal/connector/internal/api/private/model_connector_namespace_deployment.go
  internal/connector/internal/api/private/model_connector_namespace_deployment_list.go
  internal/connector/internal/api/private/model_connector_namespace_deployment_status.go
  internal/connector/internal/api/private/model_connector_namespace_list.go
  internal/connector/internal/api/private/model_connector_namespace_status.go
  internal/connector/internal/api/private/model_connector_namespace_status_2.go
  internal/connector/internal/handlers/connector_agent.go
  internal/connector/internal/presenters/connector_namespace.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/test/integration/features/connector-agent-api.feature
  openapi/connector_mgmt-private.yaml
Labels: connector, connector-api-change

#1064 test: pkg/client/ocm unit tests
  Makefile
  pkg/client/ocm/config_test.go
  pkg/client/ocm/id_test.go
  pkg/client/ocm/types.go
  pkg/client/ocm/types_test.go
Labels: common

#1079 chore(dependabot): add dependabot for automatic package updates at a weekly interval
  .github/dependabot.yaml
Labels: github

#1063 test: Increase unit test code coverage in pkg/services/sentry
  Makefile
  pkg/services/sentry/config_test.go
  pkg/services/sentry/sentry_test.go
Labels: needs-rebase, common

#1078 fix(connectors): fixes MGDCTRS-1029, fixed namespace status update to avoid updating row when the status is the same
  internal/connector/internal/migrations/202206060000_fix_connector_namespace_version_trigger.go
  internal/connector/internal/migrations/migrations.go
  internal/connector/internal/services/connector_namespaces.go
  internal/connector/test/integration/features/connector-agent-api.feature
Labels: connector

#1090 feat: test pr to trigger build in the app-interface CI
  README.md
Labels: documentation

#1088 ci: added golangci action and enabled bodyclose linter
  .github/workflows/ci.yaml
  .golangci.yml
  internal/kafka/test/common/kafka_pollers.go
  internal/kafka/test/integration/admin_kafka_test.go
  internal/kafka/test/integration/auth_test.go
  internal/kafka/test/integration/cloudprovider_test.go
  internal/kafka/test/integration/data_plane_cluster_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/federation_test.go
  internal/kafka/test/integration/kafka_list_search_order_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/integration/observatorium_test.go
  internal/kafka/test/integration/require_terms_acceptance_middleware_test.go
  internal/kafka/test/integration/serviceaccounts_test.go
  pkg/auth/audit_log_middleware_test.go
  pkg/auth/operator_authz_middleware_test.go
  pkg/auth/require_issuer_middleware_test.go
  pkg/auth/require_org_id_middleware_test.go
  pkg/auth/require_terms_acceptance_middleware_test.go
  pkg/auth/roles_authz_middleware_test.go
  pkg/client/observatorium/client_test.go
  pkg/client/redhatsso/client.go
  test/mocks/api_server.go
Labels: github, common, kafka

#1085 test: kafka/handlers admin kafkas and cloud providers unit tests
  Makefile
  internal/kafka/internal/handlers/admin_kafka.go
  internal/kafka/internal/handlers/admin_kafka_test.go
  internal/kafka/internal/handlers/cloud_providers.go
  internal/kafka/internal/handlers/cloud_providers_test.go
Labels: kafka

#1087 fix(sso): fixes MGDSTRM-8776, fixes client secret reset check for existing account
  pkg/services/sso/redhatsso_service.go
  pkg/services/sso/redhatsso_service_test.go
Labels: common

#1091 fix: fixed bodyclose linter error
  internal/kafka/internal/handlers/admin_kafka_test.go
  internal/kafka/internal/handlers/cloud_providers_test.go
Labels: kafka

#1097 fix: support rhm and azure cloud providers and check quota on marketp…
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
Labels: kafka

#1100 test(integration): review instance type test to make it pass for the right reasons
  internal/kafka/test/common/kafka_pollers.go
  internal/kafka/test/common/util.go
  internal/kafka/test/integration/kafkas_test.go
Labels: kafka

#1104 chore: remove json struct tags from kafka config type
  internal/kafka/internal/config/kafka.go
Labels: kafka

#1099 feat: dynaming scaling: add configurability of max compute nodes per instance type
  config/dynamic-scaling-configuration.yaml
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/config/dynamic_scaling_config.go
  templates/service-template.yml
Labels: kafka, service-template

#1106 Remove unused jsonstructtags from configs
  internal/kafka/internal/config/aws.go
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/config/kafka_quota.go
  internal/kafka/internal/config/kas-fleetshard.go
  internal/kafka/internal/config/providers.go
Labels: kafka

#1101 fix(metrics): cluster_status_capacity_used doesn't update when kafka count goes down to 0
  internal/kafka/internal/converters/cluster.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  internal/kafka/test/integration/cluster_metrics_test.go
Labels: kafka

#1072 chore: add logging to redhatsso_service.go
  pkg/services/sso/keycloak_service_proxy.go
  pkg/services/sso/redhatsso_service.go
Labels: common

#1086 feat: Block Kafka Creation, Service account creation during the migration phase & switched
  Makefile
  config/access-list-configuration.yaml
  config/deny-list-configuration.yaml
  docs/deploying-kas-fleet-manager-to-openshift.md
  docs/feature-flags.md
  internal/connector/internal/environments/development.go
  internal/connector/internal/environments/integration.go
  internal/connector/internal/environments/production.go
  internal/connector/internal/environments/stage.go
  internal/connector/test/integration/features/connector-api.feature
  internal/kafka/internal/environments/development.go
  internal/kafka/internal/environments/integration.go
  internal/kafka/internal/environments/production.go
  internal/kafka/internal/environments/stage.go
  internal/kafka/test/integration/kafkas_test.go
  pkg/acl/access_control_list.go
  pkg/acl/access_control_list_middleware.go
  pkg/acl/access_control_list_middleware_test.go
  pkg/acl/access_control_list_test.go
  pkg/errors/errors.go
  templates/service-template.yml
Labels: documentation, common, connector, kafka, service-template

#1107 feat: made sso configurable via params
  .github/workflows/ci.yaml
  Makefile
  scripts/mas_sso_config.sh
  scripts/mas_sso_setup.sh
Labels: github, common

#1098 test: added dataplane cluster service handler unit tests
  internal/kafka/internal/handlers/data_plane_cluster.go
  internal/kafka/internal/handlers/data_plane_cluster_test.go
  internal/kafka/internal/services/data_plane_cluster.go
  internal/kafka/internal/services/data_plane_cluster_service_moq.go
Labels: kafka

#1105 feat: remove fields deprecated as part of supporting larger kafka instances
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/api_errors.go
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/api/public/client.go
  internal/kafka/internal/api/public/configuration.go
  internal/kafka/internal/api/public/model_cloud_provider.go
  internal/kafka/internal/api/public/model_cloud_provider_list.go
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/api/public/model_cloud_region_list.go
  internal/kafka/internal/api/public/model_error.go
  internal/kafka/internal/api/public/model_error_list.go
  internal/kafka/internal/api/public/model_instant_query.go
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_list.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/api/public/model_kafka_update_request.go
  internal/kafka/internal/api/public/model_list.go
  internal/kafka/internal/api/public/model_metrics_instant_query_list.go
  internal/kafka/internal/api/public/model_metrics_range_query_list.go
  internal/kafka/internal/api/public/model_object_reference.go
  internal/kafka/internal/api/public/model_range_query.go
  internal/kafka/internal/api/public/model_region_capacity_list_item.go
  internal/kafka/internal/api/public/model_service_account.go
  internal/kafka/internal/api/public/model_service_account_list.go
  internal/kafka/internal/api/public/model_service_account_list_item.go
  internal/kafka/internal/api/public/model_service_account_request.go
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_type.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_types_list.go
  internal/kafka/internal/api/public/model_supported_kafka_size.go
  internal/kafka/internal/api/public/model_supported_kafka_size_bytes_value_item.go
  internal/kafka/internal/api/public/model_values.go
  internal/kafka/internal/api/public/model_version_metadata.go
  internal/kafka/internal/api/public/response.go
  internal/kafka/internal/cmd/cloudprovider/regionlist.go
  internal/kafka/internal/cmd/kafka/create.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/handlers/cloud_providers.go
  internal/kafka/internal/handlers/cloud_providers_test.go
  internal/kafka/internal/presenters/cloud_providers_test.go
  internal/kafka/internal/presenters/cloudproviders.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/presenters/kafka_test.go
  internal/kafka/test/integration/cloudprovider_test.go
  internal/kafka/test/integration/kafka/kafka_steps.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/integration/observatorium_test.go
  internal/kafka/test/integration/require_terms_acceptance_middleware_test.go
  internal/kafka/test/mocks/cloud_providers/cloud_providers.go
  internal/kafka/test/mocks/kafkas/kafkas.go
  openapi/kas-fleet-manager.yaml
  pkg/api/cloud_region_types.go
Labels: common, kafka, api-change

#1120 test: internal/kafka/internal/kafkas/types unit tests
  internal/kafka/internal/kafkas/types/types_test.go
Labels: kafka

#1118 feat: perform non default machinepool creation in autoscaling mode
  internal/kafka/internal/clusters/ocm_provider.go
  internal/kafka/internal/clusters/ocm_provider_test.go
  internal/kafka/internal/clusters/provider.go
  internal/kafka/internal/clusters/provider_moq.go
  internal/kafka/internal/clusters/standalone_provider.go
  internal/kafka/internal/clusters/standalone_provider_test.go
  internal/kafka/internal/clusters/types/types.go
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/config/dynamic_scaling_config.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  pkg/client/ocm/client.go
  pkg/client/ocm/client_moq.go
Labels: common, kafka

#1121 Update golang ci
  .github/workflows/ci.yaml
  Makefile
  internal/kafka/test/common/util.go
Labels: github, kafka

#1115 feat: accept billing_model kafka create param
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/api_errors.go
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/api/public/client.go
  internal/kafka/internal/api/public/configuration.go
  internal/kafka/internal/api/public/model_cloud_provider.go
  internal/kafka/internal/api/public/model_cloud_provider_list.go
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/api/public/model_cloud_region_list.go
  internal/kafka/internal/api/public/model_error.go
  internal/kafka/internal/api/public/model_error_list.go
  internal/kafka/internal/api/public/model_instant_query.go
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_list.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/api/public/model_kafka_update_request.go
  internal/kafka/internal/api/public/model_list.go
  internal/kafka/internal/api/public/model_metrics_instant_query_list.go
  internal/kafka/internal/api/public/model_metrics_range_query_list.go
  internal/kafka/internal/api/public/model_object_reference.go
  internal/kafka/internal/api/public/model_range_query.go
  internal/kafka/internal/api/public/model_region_capacity_list_item.go
  internal/kafka/internal/api/public/model_service_account.go
  internal/kafka/internal/api/public/model_service_account_list.go
  internal/kafka/internal/api/public/model_service_account_list_item.go
  internal/kafka/internal/api/public/model_service_account_request.go
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_type.go
  internal/kafka/internal/api/public/model_supported_kafka_instance_types_list.go
  internal/kafka/internal/api/public/model_supported_kafka_size.go
  internal/kafka/internal/api/public/model_supported_kafka_size_bytes_value_item.go
  internal/kafka/internal/api/public/model_values.go
  internal/kafka/internal/api/public/model_version_metadata.go
  internal/kafka/internal/api/public/response.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/handlers/kafka.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/migrations/20220621100000_add_kafka_billing_model.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1127 feat: added temp list of integration tests accessible for BU/PM
  README.md
  test/integration-tests.md
Labels: documentation, common

#1112 fix: changed redhatsso to return same errors as legacy sso
  pkg/services/sso/redhatsso_service.go
  pkg/services/sso/redhatsso_service_test.go
  test/mocks/redhatsso.go
Labels: common

#1110 test: added unit tests for internal/handlers/kafka_instance_types
  internal/kafka/internal/handlers/kafka_instance_types.go
  internal/kafka/internal/handlers/kafka_instance_types_test.go
Labels: kafka

#1132 Added tests for the keycloak service proxy
  internal/kafka/internal/services/keycloak_kafka_test.go
  pkg/services/sso/keycloak_service.go
  pkg/services/sso/keycloak_service_builder.go
  pkg/services/sso/keycloak_service_builder_test.go
  pkg/services/sso/keycloak_service_internal_moq.go
  pkg/services/sso/keycloak_service_proxy.go
  pkg/services/sso/keycloak_service_proxy_test.go
  pkg/services/sso/keycloak_service_test.go
  pkg/services/sso/redhatsso_service_test.go
Labels: common, kafka

#1096 fix: properly order shard_metadata entries to select the latest one
  internal/connector/internal/services/connector_types.go
  internal/connector/test/integration/connector-catalog-root/aws/aws-sqs-source-v1alpha1.json
  internal/connector/test/integration/connector-catalog/aws-sqs-source-v1alpha1.json
  internal/connector/test/integration/features/connector-admin-api.feature
  internal/connector/test/integration/features/connector-agent-api.feature
Labels: connector

#1126 fix files.Walk utility function
  internal/connector/internal/config/connectors.go
  pkg/shared/utils/files/files.go
Labels: common, connector

#1136 feat: option for multi_az/single_az + tests
  internal/kafka/internal/clusters/cluster_builder.go
  internal/kafka/internal/clusters/cluster_test.go
Labels: kafka

#1137 test: increased unit tests coverage for /handlers/kafka.go
  internal/kafka/internal/handlers/kafka_test.go
Labels: kafka

#1134 refactor: Move validation logic from services to handlers
  internal/kafka/internal/handlers/admin_kafka.go
  internal/kafka/internal/handlers/admin_kafka_test.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
Labels: kafka

#1146 build(docker): update to ubi 8.6 as base image
  Dockerfile
Labels: kafka, service-template

#1147 feat: Create an autoscaled default machine pool
  internal/kafka/internal/clusters/cluster_builder.go
  internal/kafka/internal/clusters/cluster_test.go
Labels: kafka

#1141 fix MGDCTRS-997: Admin API to list connectors with new revisions
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/api/admin/private/model_connector_available_operator_upgrade.go
  internal/connector/internal/api/admin/private/model_connector_available_type_upgrade.go
  internal/connector/internal/api/admin/private/model_connector_available_type_upgrade_list.go
  internal/connector/internal/api/admin/private/model_connector_available_type_upgrade_shard_metadata.go
  internal/connector/internal/api/admin/private/model_connector_deployment_admin_status.go
  internal/connector/internal/api/admin/private/model_connector_deployment_admin_status_operators.go
  internal/connector/internal/api/admin/private/model_connector_deployment_admin_status_shard_metadata.go
  internal/connector/internal/api/admin/private/model_connector_deployment_admin_view.go
  internal/connector/internal/api/admin/private/model_connector_deployment_status.go
  internal/connector/internal/api/admin/private/model_connector_shard_metadata.go
  internal/connector/internal/api/admin/private/model_connector_upgrade_status.go
  internal/connector/internal/api/dbapi/connector.go
  internal/connector/internal/api/dbapi/connector_type.go
  internal/connector/internal/config/connectors.go
  internal/connector/internal/environments/integration.go
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connector_agent.go
  internal/connector/internal/handlers/connector_cluster.go
  internal/connector/internal/handlers/connectors.go
  internal/connector/internal/migrations/202202070000_add_connector_namespace_tables.go
  internal/connector/internal/migrations/202206130000_refactor_channel_and_shard_metadata.go
  internal/connector/internal/migrations/migrations.go
  internal/connector/internal/presenters/connector_available_operator_upgrade.go
  internal/connector/internal/presenters/connector_available_type_upgrade.go
  internal/connector/internal/presenters/connector_deployment.go
  internal/connector/internal/presenters/object_reference.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/internal/services/connector_deployment.go
  internal/connector/internal/services/connector_types.go
  internal/connector/internal/services/connectors.go
  internal/connector/internal/workers/connector_mgr.go
  internal/connector/test/integration/connector-catalog-root/aws/aws-sqs-source-v1alpha1.json
  internal/connector/test/integration/connector-catalog-root/misc/log_sink_0.1.json
  internal/connector/test/integration/connector-catalog/aws-sqs-source-v1alpha1.json
  internal/connector/test/integration/connector-catalog/log_sink_0.1.json
  internal/connector/test/integration/feature_test.go
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-api.feature
  openapi/connector_mgmt-private-admin.yaml
  pkg/db/migrations.go
  pkg/handlers/framework.go
  pkg/services/queryparser/query_parser.go
  pkg/services/queryparser/query_parser_test.go
Labels: common, connector, connector-api-change

#1149 fix(metrics): reset capacity used and capacity available metrics for KafkaManager reconciler
  pkg/metrics/metrics.go
Labels: common

#1152 fix: avoid redundant api call
  internal/kafka/internal/services/quota/ams_quota_service.go
Labels: kafka
