Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2022-04, with the labels that each got.

#883 feat: Expose instance type to the data plane
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/model_managed_kafka_all_of_metadata.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_metadata_labels.go
  internal/kafka/internal/presenters/managedkafka.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  openapi/kas-fleet-manager-private.yaml
Labels: kafka, api-change

#892 chore: run "make generate code/fix" to update generated code and fix linting
  internal/connector/internal/config/connectors_quota_config.go
  internal/connector/internal/presenters/connector_available_operator_upgrade.go
  internal/connector/internal/presenters/connector_available_type_upgrade.go
  internal/connector/internal/services/phase/namespace_phase.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/handlers/service_accounts.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/test/integration/serviceaccounts_test.go
  pkg/client/keycloak/config.go
  pkg/client/redhatsso/client.go
  pkg/errors/errors.go
  pkg/services/sso/keycloak_service_proxy.go
  pkg/workers/worker_interface_moq.go
  test/cucumber/cucumber.go
Labels: common, connector, kafka

#885 Saving client secret into database
  internal/kafka/internal/migrations/20220330101500_add_cluster_client_secret.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusterservice_moq.go
  internal/kafka/internal/services/kas_fleetshard_operator_addon.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  pkg/api/cluster_types.go
Labels: common, kafka

#895 refactor: refactored the keycloak service builder
  internal/kafka/internal/cmd/serviceaccounts/create.go
  internal/kafka/internal/cmd/serviceaccounts/delete.go
  internal/kafka/internal/cmd/serviceaccounts/list.go
  internal/kafka/internal/cmd/serviceaccounts/resetcreds.go
  pkg/client/redhatsso/client.go
  pkg/client/redhatsso/integration/client_test.go
  pkg/providers/core.go
  pkg/services/sso/keycloak.go
  pkg/services/sso/keycloak_service.go
  pkg/services/sso/keycloak_service_builder.go
  pkg/services/sso/keycloak_service_test.go
  pkg/services/sso/redhatsso_service.go
  pkg/services/sso/redhatsso_service_test.go
Labels: common, kafka

#897 fix: move instance type as inline argument
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/generated/bindata.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#898 fix: remove max_capacity_reached as required
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_region_capacity_list_item.go
  internal/kafka/internal/generated/bindata.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#901 fix: get the realm config from the service when building the CR
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kas_fleetshard_operator_addon.go
  internal/kafka/internal/services/kas_fleetshard_operator_addon_test.go
Labels: kafka

#838 feat: return browser_url for kafka admin UI
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/api_errors.go
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/api/public/client.go
  internal/kafka/internal/api/public/configuration.go
  internal/kafka/internal/api/public/model_cloud_provider.go
  internal/kafka/internal/api/public/model_cloud_provider_list.go
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/api/public/model_cloud_region_list.go
  internal/kafka/internal/api/public/model_error.go
  internal/kafka/internal/api/public/model_error_list.go
  internal/kafka/internal/api/public/model_instant_query.go
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_list.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/api/public/model_kafka_update_request.go
  internal/kafka/internal/api/public/model_list.go
  internal/kafka/internal/api/public/model_metrics_instant_query_list.go
  internal/kafka/internal/api/public/model_metrics_range_query_list.go
  internal/kafka/internal/api/public/model_object_reference.go
  internal/kafka/internal/api/public/model_range_query.go
  internal/kafka/internal/api/public/model_region_capacity_list_item.go
  internal/kafka/internal/api/public/model_service_account.go
  internal/kafka/internal/api/public/model_service_account_list.go
  internal/kafka/internal/api/public/model_service_account_list_item.go
  internal/kafka/internal/api/public/model_service_account_request.go
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/api/public/model_values.go
  internal/kafka/internal/api/public/model_version_metadata.go
  internal/kafka/internal/api/public/response.go
  internal/kafka/internal/cmd/kafka/list.go
  internal/kafka/internal/config/kafka.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/handlers/kafka.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/test/integration/kafkas_test.go
  openapi/kas-fleet-manager.yaml
  templates/service-template.yml
Labels: kafka, api-change, service-template

#903 test: disable installation of cluster logging operator addon
  internal/kafka/test/integration/cluster_mgr_test.go
Labels: kafka

#908 Add legal related content
  CONTRIBUTING.md
  DCO
Labels: documentation

#904 chore: Config updates to enable easier standalone_provider usage
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  templates/secrets-template.yml
Labels: documentation, kafka, service-template

#905 fix(connectors): fixes MGDCTRS-767, added authorization of namespace_id in connector create and update
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/model_connector_admin_view.go
  internal/connector/internal/api/admin/private/model_connector_meta.go
  internal/connector/internal/api/admin/private/model_connector_request_meta.go
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/api_connector_namespaces.go
  internal/connector/internal/api/public/model_connector.go
  internal/connector/internal/api/public/model_connector_meta.go
  internal/connector/internal/api/public/model_connector_request.go
  internal/connector/internal/api/public/model_connector_request_meta.go
  internal/connector/internal/generated/bindata.go
  internal/connector/internal/handlers/connector_namespace.go
  internal/connector/internal/handlers/connectors.go
  internal/connector/internal/handlers/namespace_validation.go
  internal/connector/internal/services/authz/authz_service.go
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-api.feature
  openapi/connector_mgmt.yaml
Labels: connector, connector-api-change

#907 Add missing presenters unit tests
  internal/kafka/internal/api/dbapi/data_plane_kafka_status_test.go
  internal/kafka/internal/clusters/cluster_test.go
  internal/kafka/internal/config/configuration_test.go
  internal/kafka/internal/config/dataplane_cluster_config_test.go
  internal/kafka/internal/migrations/20210809140000_migrate_old_kafka_namespace_test.go
  internal/kafka/internal/presenters/admin_kafka_test.go
  internal/kafka/internal/presenters/cloud_providers_test.go
  internal/kafka/internal/presenters/data_plane_cluster_status_test.go
  internal/kafka/internal/presenters/data_plane_kafka_status_test.go
  internal/kafka/internal/presenters/kafka_test.go
  internal/kafka/internal/presenters/managed_kafka_test.go
  internal/kafka/internal/presenters/metric.go
  internal/kafka/internal/presenters/metric_test.go
  internal/kafka/internal/presenters/object_reference.go
  internal/kafka/internal/presenters/object_reference_test.go
  internal/kafka/internal/presenters/service_accounts_test.go
  internal/kafka/internal/services/cluster_placement_strategy_test.go
  internal/kafka/internal/services/clusters_test.go
  internal/kafka/internal/services/data_plane_cluster_test.go
  internal/kafka/internal/services/data_plane_kafka_test.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/keycloak_kafka_test.go
  internal/kafka/internal/services/observatorium_service_test.go
  internal/kafka/internal/services/util_test.go
  internal/kafka/test/mocks/cloud_providers/cloud_providers.go
  internal/kafka/test/mocks/data_plane/data_plane_cluster_status.go
  internal/kafka/test/mocks/data_plane/data_plane_kafka_status.go
  internal/kafka/test/mocks/kafkas/admin_kafkas.go
  internal/kafka/test/mocks/kafkas/kafkas.go
  internal/kafka/test/mocks/kafkas/managed_kafkas.go
  internal/kafka/test/mocks/metrics/metrics.go
  internal/kafka/test/mocks/object_reference/object_reference.go
  internal/kafka/test/mocks/service_accounts/service_accounts.go
  pkg/api/cluster_types_test.go
  pkg/api/semverutil_test.go
  pkg/services/sso/keycloak_service_test.go
  pkg/services/sso/redhatsso_service_test.go
  pkg/shared/numutil_test.go
  pkg/shared/secrets/secrets_test.go
Labels: common, kafka

#911 refactor: moved the state machine and string scanner into the utilities
  internal/connector/internal/services/connector_namespaces.go
  pkg/services/queryparser/query_parser.go
  pkg/services/queryparser/query_parser_test.go
  pkg/services/queryparser/statemachine.go
  pkg/services/queryparser/statemachine_builder.go
  pkg/shared/utils/state_machine/grammar.go
  pkg/shared/utils/state_machine/statemachine.go
  pkg/shared/utils/state_machine/statemachine_builder.go
  pkg/shared/utils/state_machine/statemachine_test.go
  pkg/shared/utils/stringscanner/scanner.go
  pkg/shared/utils/stringscanner/simple_string_scanner.go
  pkg/shared/utils/stringscanner/simple_string_scanner_test.go
  pkg/shared/utils/stringscanner/sql_string_scanner.go
  pkg/shared/utils/stringscanner/sql_string_scanner_test.go
Labels: common, connector

#906 fix(connectors): MGDCTRS-718 Remove deprecated properties from agent APIs
  internal/connector/internal/api/private/api/openapi.yaml
  internal/connector/internal/api/private/model_connector_deployment_spec.go
  internal/connector/internal/api/private/model_connector_deployment_status.go
  internal/connector/internal/api/private/model_meta_v1_condition.go
  internal/connector/internal/presenters/connector_cluster_status.go
  internal/connector/test/integration/features/connector-agent-api.feature
  openapi/connector_mgmt-private.yaml
Labels: connector, connector-api-change

#916 fix(connectors): fixes MGDCTRS-733: fixed reconcile interval configuration for connector integration tests in all environments
  internal/connector/test/integration/feature_test.go
Labels: connector

#914 fix(connectors): fixes MGDCTRS-753, use optimistic locking in connector updates
  internal/connector/internal/services/connector_namespaces.go
  internal/connector/internal/services/connectors.go
Labels: connector

#872 Fix to properly clean clients created in mass sso
  internal/connector/internal/environments/integration.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/integration/require_terms_acceptance_middleware_test.go
  internal/kafka/test/integration/serviceaccounts_test.go
Labels: connector, kafka

#917 chore: replacing KafkaRealm with set provider
  internal/connector/internal/handlers/authentication.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/test/integration/cleanup/main.go
  internal/kafka/internal/handlers/authentication.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/test/integration/auth_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/federation_test.go
  internal/kafka/test/mocks/kasfleetshardsync/kas-fleetshard-sync.go
  pkg/client/keycloak/config.go
Labels: common, connector, kafka

#912 test: Increase unit test code coverage in internal/kafka/internal/metrics
  Makefile
  internal/kafka/internal/metrics/component_versions_test.go
Labels: kafka

#919 feat: increased unit test coverage in the pkg/acl package
  pkg/acl/access_control_list.go
  pkg/acl/access_control_list_middleware_test.go
  pkg/acl/access_control_list_test.go
Labels: common

#920 Add speical mgmt org to keycloak config. Add canary client ID in custom claim check in Kafka CR
  .gitignore
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/util.go
  internal/kafka/internal/services/util_test.go
  pkg/client/keycloak/config.go
  templates/service-template.yml
Labels: documentation, common, kafka, service-template

#925 fix(service-template): properly interpret a parameter
  templates/service-template.yml
Labels: kafka, service-template

#927 refactor(db): remove sql helper file as it is not used anymore
  go.mod
  go.sum
  pkg/db/sql_helpers.go
  pkg/db/sql_helpers_test.go
Labels: common

#932 fix(test): only attempt to delete a keycloak client when it is there to avoid panic errors
  internal/connector/internal/handlers/authentication.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/integration/require_terms_acceptance_middleware_test.go
Labels: connector, kafka

#929 feat: added missing unit tests to internal/config package
  internal/kafka/internal/config/aws_test.go
  internal/kafka/internal/config/dataplane_cluster_config_test.go
  internal/kafka/internal/config/kafka_lifespan_test.go
  internal/kafka/internal/config/kafka_quota_test.go
  internal/kafka/internal/config/kafka_test.go
  internal/kafka/internal/config/kas-fleetshard_test.go
  internal/kafka/internal/config/providers_test.go
Labels: kafka

#934 Fix larger kafka instances tests
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/mocks/cloud_providers/cloud_providers.go
Labels: kafka

#931 fix(deploy): use db service name instead of IP address when deploying secrets
  Makefile
  templates/secrets-template.yml
Labels: kafka, service-template

#937 fix(connector): fixes MGDCTRS-819, added namespace name validation and max length check
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/model_connector_namespace_eval_request.go
  internal/connector/internal/api/admin/private/model_connector_namespace_meta.go
  internal/connector/internal/api/admin/private/model_connector_namespace_request_meta.go
  internal/connector/internal/api/admin/private/model_connector_namespace_with_tenant_request.go
  internal/connector/internal/api/private/api/openapi.yaml
  internal/connector/internal/api/private/model_connector_namespace_meta.go
  internal/connector/internal/api/private/model_connector_namespace_request_meta.go
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/model_connector_namespace_eval_request.go
  internal/connector/internal/api/public/model_connector_namespace_meta.go
  internal/connector/internal/api/public/model_connector_namespace_patch_request.go
  internal/connector/internal/api/public/model_connector_namespace_request.go
  internal/connector/internal/api/public/model_connector_namespace_request_meta.go
  internal/connector/internal/generated/bindata.go
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connector_namespace.go
  internal/connector/test/integration/features/connector-multitenancy-api.feature
  openapi/connector_mgmt.yaml
  pkg/handlers/validation_builder.go
Labels: common, connector, connector-api-change

#930 test: Increase unit test code coverage in pkg/api
  Makefile
  pkg/api/cluster_types_test.go
  pkg/api/json_test.go
  pkg/api/leader_lease_types_test.go
  pkg/api/quota_service_types_test.go
  pkg/api/semverutil_test.go
Labels: common

#938 fix(connectors): fixes MGDCTRS-777, fixes MGDCTRS-821, get apis return http status 410, allow org admins to delete and update clusters
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/api_connector_clusters.go
  internal/connector/internal/api/public/api_connector_types.go
  internal/connector/internal/api/public/api_connectors.go
  internal/connector/internal/generated/bindata.go
  internal/connector/internal/handlers/connector_agent.go
  internal/connector/internal/handlers/connector_validation.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/internal/services/connector_namespaces.go
  internal/connector/internal/services/connector_types.go
  internal/connector/internal/services/connectors.go
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-api.feature
  internal/connector/test/integration/features/connector-cluster-api.feature
  openapi/connector_mgmt.yaml
Labels: connector, connector-api-change

#936 fix: re-add browser url flag
  internal/kafka/internal/config/kafka.go
Labels: kafka

#935 feat: dont add label to managed kafka CR if instance type is eval
  internal/kafka/internal/kafkas/types/types.go
  internal/kafka/internal/services/kafka.go
Labels: kafka

#933 test: increase test coverage in internal/kafka/internal/clusters
  internal/kafka/internal/clusters/provider_test.go
  internal/kafka/internal/clusters/standalone_provider_test.go
  internal/kafka/test/mocks/data_plane/data_plane_cluster_config.go
Labels: kafka

#940 fix(connectors): fixes MGDCTRS-777, connector agent APIs get http status 410 if the cluster has been deleted
  internal/connector/internal/services/connector_cluster.go
  internal/connector/test/integration/features/connector-agent-api.feature
Labels: connector

#939 test: unit tests for kafka and cluster converters
  Makefile
  internal/kafka/internal/converters/cluster_test.go
  internal/kafka/test/mocks/clusters/clusters.go
  internal/kafka/test/mocks/kafkas/kafkas.go
Labels: kafka

#947 Addition of raj to the code owners
  .github/CODEOWNERS
Labels: github

#943 feat: Add skip list based on org IDs to skip the service account limits checks
  Makefile
  config/service-account-limits-check-skip-org-id-list.yaml
  docs/deploying-kas-fleet-manager-to-openshift.md
  pkg/client/keycloak/config.go
  pkg/services/sso/keycloak_service.go
  pkg/services/sso/keycloak_service_test.go
  pkg/shared/config.go
  pkg/shared/config_test.go
  templates/service-template.yml
Labels: documentation, common, kafka, service-template

#952 refactor: moved `Contains` util into the string arrays utils package
  internal/connector/internal/handlers/connector_validation.go
  internal/kafka/internal/handlers/admin_kafka.go
  internal/kafka/internal/services/util_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  pkg/services/sso/keycloak_service.go
  pkg/services/types.go
  pkg/shared/util.go
  pkg/shared/utils/arrays/string_array_utils.go
  pkg/shared/utils/arrays/string_array_utils_test.go
Labels: common, connector, kafka

#950 style: removed capital letters from error messages, helper.go
  pkg/auth/helper.go
Labels: common

#954 fix(connector): fixes MGDCTRS-659, added endpoints for getting deployments
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/api/admin/private/model_connector_deployment_admin_view.go
  internal/connector/internal/api/admin/private/model_connector_deployment_admin_view_all_of_metadata.go
  internal/connector/internal/api/admin/private/model_connector_deployment_admin_view_list.go
  internal/connector/internal/api/admin/private/model_connector_deployment_spec.go
  internal/connector/internal/api/admin/private/model_connector_deployment_status.go
  internal/connector/internal/api/admin/private/model_connector_deployment_status_operators.go
  internal/connector/internal/api/admin/private/model_connector_namespace_with_tenant_request.go
  internal/connector/internal/api/admin/private/model_connector_operator.go
  internal/connector/internal/api/admin/private/model_meta_v1_condition.go
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connectors.go
  internal/connector/internal/presenters/connector.go
  internal/connector/internal/presenters/connector_deployment.go
  internal/connector/internal/presenters/connector_namespace.go
  internal/connector/internal/presenters/object_reference.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/internal/services/connectors.go
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-multitenancy-api.feature
  openapi/connector_mgmt-private-admin.yaml
  test/cucumber/http_response.go
Labels: common, connector, connector-api-change

#951 Remove unused config files
  config/kafka-capacity-config.yaml
  internal/kafka/internal/config/kafka.go
  internal/kafka/internal/services/data_plane_cluster.go
  internal/kafka/internal/services/data_plane_cluster_test.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/quota/quota_management_list_service_test.go
  internal/kafka/test/helper.go
  internal/kafka/test/integration/data_plane_cluster_test.go
  internal/kafka/test/integration/kafkas_test.go
  templates/service-template.yml
Labels: kafka, service-template

#955 feat(connectors): fixes MGDCTRS-824, added agent endpoint to update namespace status
  internal/connector/internal/api/private/api/openapi.yaml
  internal/connector/internal/api/private/api_connector_clusters_agent.go
  internal/connector/internal/handlers/connector_agent.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/internal/services/connector_namespaces.go
  internal/connector/test/integration/features/connector-agent-api.feature
  openapi/connector_mgmt-private.yaml
Labels: connector, connector-api-change

#958 fix(connectors): fixes failing connector test
  internal/connector/test/integration/features/connector-agent-api.feature
Labels: connector

#957 fix(connectors): fix https://issues.redhat.com/browse/MGDCTRS-834
  internal/connector/internal/services/connector_cluster.go
  internal/connector/internal/services/connector_namespaces.go
  internal/connector/internal/services/connectors.go
  internal/connector/test/integration/features/connector-agent-api.feature
Labels: connector

#953 feature: set kafka multiaz attribute depending on instance type
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/handlers/kafka.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/test/integration/kafka/kafka_steps.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/integration/observatorium_test.go
  internal/kafka/test/integration/require_terms_acceptance_middleware_test.go
  internal/kafka/test/mocks/kafkas/kafkas.go
  openapi/kas-fleet-manager.yaml
  pkg/handlers/validation.go
Labels: common, kafka, api-change

#946 feat: renamed managed kafka CR ingress and egress fields
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/model_managed_kafka_capacity.go
  internal/kafka/internal/presenters/managedkafka.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  openapi/kas-fleet-manager-private.yaml
  pkg/api/managedkafkas.managedkafka.bf2.org/v1/types.go
Labels: common, kafka, api-change

#941 test: Increase test coverage in pkg/quota_management
  pkg/quota_management/quota_management_list_config_test.go
  pkg/quota_management/quota_management_list_test.go
Labels: common

#910 docs: added best practices
  docs/best-practices.md
  docs/best-practices/coding.md
  docs/best-practices/error-handling.md
  docs/best-practices/table-driven-test.md
  docs/best-practices/testing.md
  docs/best-practices/validating-string.md
  docs/utilities/arrays.md
  docs/utilities/complex-string-parsing-and-validation.md
  docs/utilities/testing.md
Labels: documentation

#964 fix(clusters): use the configured operators namespace for standalone clusters when creating pull secrets for operators
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#961 fix(connectors): fixes MGDCTRS-860, fixed admin API connector delete
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connectors.go
  internal/connector/internal/services/connector_namespaces.go
  internal/connector/internal/services/connectors.go
  internal/connector/test/integration/features/connector-agent-api.feature
Labels: connector

#966 fix(connectors): fix MGDCTRS-719 Non-org admin users can view addon parameters.
  internal/connector/internal/handlers/connector_cluster.go
  internal/connector/test/integration/features/connector-cluster-api.feature
Labels: connector

#968 feat(clusters): configure operators pull secrets for standalone clusters
  internal/kafka/constants/cluster.go
  internal/kafka/internal/clusters/standalone_provider.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#944 test: Increase unit test code coverage in pkg/auth
  Makefile
  pkg/auth/audit_log_middleware_test.go
  pkg/auth/context_test.go
  pkg/auth/operator_authz_middleware_test.go
  pkg/auth/require_issuer_middleware_test.go
  pkg/auth/require_org_id_middleware_test.go
  pkg/auth/require_terms_acceptance_middleware_test.go
Labels: common

#972 fix: the instance type label has to be optional, otherwise it will ge…
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/model_managed_kafka_all_of_metadata_labels.go
  openapi/kas-fleet-manager-private.yaml
Labels: kafka, api-change

#971 Allow to configure subscription spec config
  Makefile
  config/kas-fleetshard-operator-subscription-spec-config.yaml
  config/strimzi-operator-subscription-spec-config.yaml
  docs/deploying-kas-fleet-manager-to-openshift.md
  docs/feature-flags.md
  go.mod
  go.sum
  internal/kafka/internal/clusters/standalone_provider.go
  internal/kafka/internal/clusters/standalone_provider_test.go
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/test/mocks/data_plane/data_plane_cluster_config.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#973 fix(connectors): fixes MGDCTRS-881, allow admin force delete to delete dangling connector deployments
  internal/connector/internal/handlers/connector_agent.go
  internal/connector/internal/services/connectors.go
  internal/connector/test/integration/features/connector-agent-api.feature
Labels: connector

#976 connectors: remove quota management flags
  README.md
  internal/connector/internal/environments/development.go
  internal/connector/internal/environments/integration.go
  internal/connector/internal/environments/production.go
  internal/connector/internal/environments/stage.go
  internal/kafka/providers.go
  pkg/providers/core.go
  test/cucumber/cucumber.go
Labels: documentation, common, connector, kafka

#980 fix: add additional labels to differentiate metric results for federate endpoint
  internal/kafka/constants/metrics.go
  internal/kafka/internal/presenters/metric.go
  internal/kafka/internal/presenters/metric_test.go
Labels: kafka

#982 Update image pull secret type in dataplane cluster config
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#974 fix: remove unused availability zone errors
  internal/connector/test/integration/features/connector-api.feature
  pkg/errors/errors.go
Labels: common, connector

#983 fix: allow multiAZ criteria to be configurable on cloud providers capacity reporting
  internal/kafka/internal/handlers/cloud_providers.go
Labels: kafka

#984 chore: Update image pull secret key
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#987 fix(connectors): fixes MGDCTRS-834, optimized namespace reconciliation, fixes MGDCTRS-885, allow data plane to delete namespace with status update
  internal/connector/internal/handlers/connector_agent.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/internal/services/connector_namespaces.go
  internal/connector/internal/workers/connector_mgr.go
  internal/connector/internal/workers/namespace_mgr.go
  internal/connector/test/integration/features/connector-agent-api.feature
Labels: connector

#970 fix(connectors): fixes MGDCTRS-754, added query parameter reset_credentials to get addon params to reset client secret
  internal/connector/internal/handlers/connector_cluster.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/test/integration/features/connector-agent-api.feature
  openapi/connector_mgmt.yaml
Labels: connector, connector-api-change
