Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2022-03, with the labels that each got.

#845 ci: add openapi change PR labeler
  .github/labeler.yml
Labels: github

#846 ci: skip draft PR
  .github/workflows/ci.yaml
Labels: github

#850 fix: add devexp-sdks for api changes
  .github/CODEOWNERS
Labels: github

#844 refactor: removed attribute/protocol mapper logic
  internal/connector/internal/handlers/connector_cluster.go
  internal/connector/test/integration/feature_test.go
  internal/kafka/internal/services/kas_fleetshard_operator_addon.go
  internal/kafka/internal/services/kas_fleetshard_operator_addon_test.go
  internal/kafka/test/integration/serviceaccounts_test.go
  pkg/client/keycloak/config.go
  pkg/services/keycloak.go
  pkg/services/keycloak_test.go
  pkg/services/keycloakservice_moq.go
Labels: common, connector, kafka

#847 chore(deps): update gocloak to v11 to fix CVE-2020-26160
  Makefile
  go.mod
  go.sum
  internal/kafka/internal/services/keycloak_kafka_test.go
  pkg/client/keycloak/client.go
  pkg/client/keycloak/client_moq.go
  pkg/client/keycloak/client_test.go
  pkg/client/keycloak/gocloak_moq.go
  pkg/services/keycloak.go
  pkg/services/keycloak_test.go
Labels: common, kafka

#830 docs: Added documentation on how to add a new ConfigModule
  CONTRIBUTING.md
  docs/adding-a-new-config-module.md
  docs/adding-new-flags.md
Labels: documentation

#854 feat: update cluster_status_capacity_used metrics
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/test/common/kafka_pollers.go
  internal/kafka/test/common/util.go
  internal/kafka/test/integration/kafkas_test.go
  pkg/metrics/metrics.go
Labels: common, kafka

#852 feat: new KeycloakService supporting both mas-sso and redhat-sso
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connector_cluster.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/test/integration/cucumber_steps.go
  internal/kafka/internal/cmd/serviceaccounts/create.go
  internal/kafka/internal/cmd/serviceaccounts/delete.go
  internal/kafka/internal/cmd/serviceaccounts/list.go
  internal/kafka/internal/cmd/serviceaccounts/resetcreds.go
  internal/kafka/internal/handlers/service_accounts.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kas_fleetshard_operator_addon.go
  internal/kafka/internal/services/kas_fleetshard_operator_addon_test.go
  internal/kafka/internal/services/keycloak_kafka_test.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/ready_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/ready_kafkas_mgr_test.go
  pkg/client/redhatsso/client.go
  pkg/client/redhatsso/client_moq.go
  pkg/client/redhatsso/config.go
  pkg/client/redhatsso/integration/client_test.go
  pkg/providers/core.go
  pkg/services/sso/keycloak.go
  pkg/services/sso/keycloak_service.go
  pkg/services/sso/keycloak_service_proxy.go
  pkg/services/sso/keycloak_service_test.go
  pkg/services/sso/keycloakservice_moq.go
  pkg/services/sso/redhatsso_service.go
  pkg/services/sso/redhatsso_service_test.go
  pkg/shared/util.go
Labels: common, connector, kafka

#856 fix: Reconcile clusters in waiting_for_kas_fleetshard_operator to update addon parameters
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#862 refactor: Remove check for KasFleetshardOperatorAddon
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/clusters_mgr_test.go
Labels: kafka

#861 feat: reserve quota based on instance size
  config/quota-management-list-configuration.yaml
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/config/kafka.go
  internal/kafka/internal/converters/kafka_request.go
  internal/kafka/internal/handlers/cloud_providers.go
  internal/kafka/internal/handlers/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  internal/kafka/internal/services/quota/default_quota_service_factory.go
  internal/kafka/internal/services/quota/quota_management_list_service.go
  internal/kafka/internal/services/quota/quota_management_list_service_test.go
  internal/kafka/internal/services/quotaservice_moq.go
  internal/kafka/test/integration/kafkas_test.go
  openapi/kas-fleet-manager.yaml
  pkg/quota_management/account.go
  pkg/quota_management/organisation.go
  pkg/quota_management/quota_management_list_test.go
Labels: common, kafka, api-change

#864 fix(connectors): MGDCTRS-494 fix Missing deployment inconsistency by recreating them during reconcile if they are missing.
  internal/connector/internal/workers/connector_mgr.go
  internal/connector/test/integration/features/connector-agent-api.feature
Labels: connector

#867 style: remove spelling error in server_config.go
  pkg/server/healthcheck_config.go
  pkg/server/metrics_config.go
  pkg/server/server_config.go
  templates/service-template.yml
Labels: common

#866 feat: report capacity limits in GET Kafka endpoint
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/cmd/kafka/list.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/handlers/kafka.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/presenters/kafka_test.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#871 style: removed some comment mispellings in environment.go
  pkg/environments/environment.go
Labels: common

#865 feat: adding ssoprovider selector to switch between mas-sso & sso.
  .github/workflows/ci.yaml
  .gitignore
  Makefile
  pkg/client/keycloak/config.go
  pkg/client/redhatsso/client.go
  pkg/client/redhatsso/client_moq.go
  pkg/client/redhatsso/config.go
  pkg/client/redhatsso/integration/client_test.go
  pkg/providers/core.go
  pkg/services/sso/keycloak_service.go
  pkg/services/sso/keycloak_service_proxy.go
  pkg/services/sso/redhatsso_service.go
  pkg/services/sso/redhatsso_service_test.go
Labels: github, common

#859 feat: Deprecate instanceType for cloud type region endpoint
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/internal/api/public/model_cloud_region.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/presenters/cloudproviders.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#873 feat: Update Go to 1.17
  .github/workflows/ci.yaml
  Dockerfile
  README.md
  docker/Dockerfile_template
  docker/Dockerfile_template_mocked
  go.mod
Labels: documentation, github

#875 docs: add guide for using an external image repository
  docs/deploying-kas-fleet-manager-to-openshift.md
Labels: documentation

#870 feat: Make reconciler interval, leader lease expiration time and leader election repeat interval configurable
  internal/connector/internal/workers/connector_mgr.go
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/accepted_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/deleting_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/deleting_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_routes_cname_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_routes_cname_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/preparing_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/preparing_kafkas_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/provisioning_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/ready_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/ready_kafkas_mgr_test.go
  internal/kafka/test/integration/kafkas_test.go
  pkg/providers/core.go
  pkg/workers/leader_election_mgr.go
  pkg/workers/leader_election_mgr_test.go
  pkg/workers/reconciler.go
  pkg/workers/reconciler_config.go
  pkg/workers/reconciler_test.go
  templates/service-template.yml
  test/helper.go
Labels: common, connector, kafka

#876 ci: Update keycloak image version for integration testing
  .github/workflows/ci.yaml
  scripts/mas_sso_setup.sh
Labels: github, common

#877 feat: expose instance limit metrics
  internal/connector/test/integration/features/connector-api.feature
  internal/kafka/constants/metrics.go
  internal/kafka/internal/metrics/federate_user_metrics_test.go
  pkg/client/observatorium/api.go
Labels: common, connector, kafka

#878 style: adjust kafka_mgr struct comments.
  internal/kafka/internal/workers/clusters_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/accepted_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/deleting_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/preparing_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/provisioning_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/ready_kafkas_mgr.go
Labels: kafka

#874 chore(envoy): update default image to v1.20.2
  templates/service-template.yml
Labels: kafka, service-template

#813 fix(admin): only compare against actual versions when they are present and fallback to using desired versions if not
  internal/kafka/internal/services/kafka.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
Labels: kafka

#869 feat: adding sso_providers api end-point
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_security.go
  internal/kafka/internal/api/public/model_sso_provider.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/handlers/service_accounts.go
  internal/kafka/internal/presenters/serviceaccounts.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/test/integration/serviceaccounts_test.go
  openapi/kas-fleet-manager.yaml
  pkg/api/sso_provider_types.go
  pkg/client/keycloak/config.go
Labels: common, kafka, api-change

#882 fix(connectors): raised connector test timeout in waiting for API results from 5 to 10 seconds
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-api.feature
  internal/connector/test/integration/features/connector-cluster-api.feature
  internal/connector/test/integration/features/connector-multitenancy-api.feature
Labels: connector

#880 feat: added unit test coverage make targets
  .gitignore
  Makefile
  pkg/workers/worker_interface.go
  pkg/workers/worker_interface_moq.go
Labels: common

#881 feat(standalone): expose olm package as parameters
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  templates/service-template.yml
Labels: documentation, kafka, service-template

#868 feat: renamed eval instance type to developer
  Makefile
  config/dataplane-cluster-configuration.yaml
  config/kafka-instance-types-configuration.yaml
  config/provider-configuration.yaml
  config/quota-management-list-configuration.yaml
  docs/data-plane-osd-cluster-options.md
  docs/deploying-kas-fleet-manager-to-openshift.md
  docs/feature-flags.md
  docs/quota-management-list-configuration.md
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/cmd/kafka/list.go
  internal/kafka/internal/config/configuration_test.go
  internal/kafka/internal/config/dataplane_cluster_config_test.go
  internal/kafka/internal/config/kafka.go
  internal/kafka/internal/config/kafka_quota.go
  internal/kafka/internal/config/kafka_supported_instance_types.go
  internal/kafka/internal/config/kafka_supported_instance_types_test.go
  internal/kafka/internal/environments/development.go
  internal/kafka/internal/environments/integration.go
  internal/kafka/internal/generated/bindata.go
  internal/kafka/internal/handlers/kafka.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/kafkas/types/types.go
  internal/kafka/internal/migrations/20220325111000_rename_eval_kafka_instance_type.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/presenters/kafka_test.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  internal/kafka/internal/services/quota/quota_management_list_service.go
  internal/kafka/internal/services/quota/quota_management_list_service_test.go
  internal/kafka/internal/workers/clusters_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  internal/kafka/test/helper.go
  internal/kafka/test/integration/cloudprovider_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/kafkas_test.go
  openapi/kas-fleet-manager.yaml
  pkg/api/cluster_types.go
  pkg/client/keycloak/config.go
  pkg/client/ocm/types.go
  pkg/client/redhatsso/client.go
  pkg/services/sso/keycloak_service_proxy.go
  templates/service-template.yml
Labels: documentation, common, kafka, api-change

#887 fix(connectors): fixed missing connector worker lastVersion update
  internal/connector/internal/workers/connector_mgr.go
Labels: connector

#886 feat: added array utilities
  internal/kafka/internal/services/kafka.go
  pkg/acl/access_control_list.go
  pkg/auth/roles_authz_middleware.go
  pkg/handlers/validation_builder.go
  pkg/shared/utils/arrays/generic_array_utils.go
  pkg/shared/utils/arrays/generic_array_utils_test.go
  pkg/shared/utils/arrays/string_array_utils.go
  pkg/shared/utils/arrays/string_array_utils_test.go
Labels: common, kafka

#889 chore(ams): provide default value for ams url
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
Labels: documentation

#888 fix: use quota instead of capacity consumed
  internal/kafka/internal/services/quota/ams_quota_service.go
Labels: kafka

#890 test(midstream): make sure the sso files are there
  docker/Dockerfile_template
  docker/Dockerfile_template_mocked
Labels: kafka
