Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2023-01, with the labels that each got.

#1476 chore: upgrade GitHub action actions/cache to v3
  .github/workflows/ci.yaml
Labels: github

#1477 chore: update golangci-lint to v1.50.1
  .github/workflows/ci.yaml
  Makefile
Labels: github

#1479 feat: update Go version to 1.19.4
  .github/workflows/ci.yaml
  Dockerfile
  docker/Dockerfile_template
  docker/Dockerfile_template_mocked
Labels: github, kafka, service-template

#1484 refactor: replace route53 invalidchangebatch magic number to constant
  pkg/client/aws/client.go
  pkg/client/aws/client_test.go
Labels: common

#1485 refactor: use typed KafkaRoutesAction instead of generic string
  internal/kafka/internal/services/kafka.go
Labels: kafka

#1471 Add long lived eval instances expiration deletion logic
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/migrations/20230109140000_update_expires_at_zero_value.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/mocks/kafkas/kafkas.go
Labels: kafka

#1472 Prevent resuming of kafka instances in grace period
  internal/kafka/internal/handlers/admin_kafka.go
  internal/kafka/internal/handlers/admin_kafka_test.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/test/integration/admin_kafka_suspension_test.go
  internal/kafka/test/integration/admin_kafka_test.go
Labels: kafka

#1486 Set expires_at on kafka creation when lifespanSeconds configuration is defined
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
Labels: kafka

#1488 doc: clarify lifespanSeconds config behavior
  config/kafka-instance-types-configuration.yaml
Labels: kafka

#1487 fix(connectors): fixes MGDCTRS-1851, added support for matching multiple connector type labels using like instead of and operator
  internal/connector/internal/services/connector_types.go
  internal/connector/test/integration/features/connector-api.feature
Labels: connector

#1454 feat: reconcile syncset for enterprise clusters
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
Labels: kafka

#1483 feat: set used/max metrics for enterprise dataplane clusters
  config/dataplane-cluster-configuration.yaml
  config/provider-configuration.yaml
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/services/cluster_placement_strategy.go
  internal/kafka/internal/services/cluster_placement_strategy_test.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_down_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_down_mgr_test.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_up_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_up_mgr_test.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  internal/kafka/test/integration/cluster_list_enterprise_test.go
  internal/kafka/test/integration/cluster_metrics_test.go
  internal/kafka/test/integration/cluster_mgr_test.go
  pkg/api/cluster_types_test.go
Labels: common, kafka

#1482 feat(clusters): capture whether Kafkas have to be accessed via private network on enterprise clusters
  internal/kafka/internal/api/dbapi/data_plane_cluster_status.go
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/model_dataplane_cluster_agent_config_spec.go
  internal/kafka/internal/api/private/model_dataplane_cluster_agent_config_spec_net.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_enterprise_dataplane_clusters.go
  internal/kafka/internal/api/public/model_enterprise_cluster.go
  internal/kafka/internal/api/public/model_enterprise_cluster_registration_response.go
  internal/kafka/internal/api/public/model_enterprise_osd_cluster_payload.go
  internal/kafka/internal/handlers/cluster.go
  internal/kafka/internal/handlers/cluster_test.go
  internal/kafka/internal/migrations/20230111120000_add_access_kafka_via_private_network_column_in_clusters_table.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/presenters/cluster.go
  internal/kafka/internal/presenters/cluster_test.go
  internal/kafka/internal/presenters/data_plane_cluster_status.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusters_test.go
  internal/kafka/internal/services/data_plane_cluster.go
  internal/kafka/internal/services/data_plane_cluster_test.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_up_mgr.go
  internal/kafka/test/integration/cluster_list_enterprise_test.go
  internal/kafka/test/integration/cluster_mgr_test.go
  internal/kafka/test/integration/cluster_registration_endpoint_test.go
  internal/kafka/test/integration/data_plane_cluster_test.go
  openapi/kas-fleet-manager-private.yaml
  openapi/kas-fleet-manager.yaml
  pkg/api/cluster_types.go
Labels: common, kafka, api-change

#1494 feat: add get enterprise cluster endpoint
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_enterprise_dataplane_clusters.go
  internal/kafka/internal/api/public/model_enterprise_cluster_with_addon_parameters.go
  internal/kafka/internal/handlers/cluster.go
  internal/kafka/internal/handlers/cluster_test.go
  internal/kafka/internal/presenters/cluster.go
  internal/kafka/internal/presenters/cluster_test.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/test/integration/cluster_get_enterprise_test.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1495 feat: remove outdated list of integration tests
  README.md
  test/integration-tests.md
Labels: documentation, common

#1496 feat: update Go version to 1.19.5
  .github/workflows/ci.yaml
  Dockerfile
  docker/Dockerfile_template
  docker/Dockerfile_template_mocked
Labels: github, kafka, service-template

#1497 feat: add clusters in the returned /api/kafkas_mgmt/v1 collection response
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/test/integration/kafka/features/kafka-api.feature
  internal/kafka/test/integration/metadata_test.go
Labels: kafka

#1498 feat: add kafka log size metrics to KFM metrics endpoints
  internal/kafka/constants/metrics.go
  internal/kafka/internal/presenters/metric.go
  internal/kafka/internal/presenters/metric_test.go
  pkg/client/observatorium/api.go
Labels: common, kafka

#1481 feat: add logic to suspend expiring instances
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
Labels: kafka

#1502 chore: remove duplicated log line during expiration evaluation time
  internal/kafka/internal/services/kafka.go
Labels: kafka

#1436 Add reconciler for kafkas promotions
  cmd/kas-fleet-manager/main_test.go
  config/quota-management-list-configuration.yaml
  internal/kafka/internal/migrations/20221219154830_add_kafka_promote_worker_in_leader_leases.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/services/quota.go
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  internal/kafka/internal/services/quota/internal/mocks/ams/reserved_resources_mock.go
  internal/kafka/internal/services/quota/internal/mocks/ams/subscriptions_mock.go
  internal/kafka/internal/services/quota/quota_management_list_service.go
  internal/kafka/internal/services/quotaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/promotion/chain/reconciler_chain.go
  internal/kafka/internal/workers/kafka_mgrs/promotion/internal/actions/delete_actual_quota_action.go
  internal/kafka/internal/workers/kafka_mgrs/promotion/internal/actions/promotion_context.go
  internal/kafka/internal/workers/kafka_mgrs/promotion/internal/actions/reserve_desired_quota_action.go
  internal/kafka/internal/workers/kafka_mgrs/promotion/internal/actions/update_kafka_request_action.go
  internal/kafka/internal/workers/kafka_mgrs/promotion/promotion_kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/promotion/promotion_kafkas_mgr_test.go
  internal/kafka/providers.go
  internal/kafka/test/integration/kafka_promote_test.go
  pkg/client/ocm/client.go
  pkg/client/ocm/client_moq.go
  pkg/errors/errors.go
  pkg/errors/errors_test.go
  pkg/quota_management/shared.go
Labels: common, kafka

#1500 fix(connectors): fixes MGDCTRS-1880, remove labels for deleted connector types from labels query API
  internal/connector/internal/services/connector_types.go
  internal/connector/test/integration/feature_test.go
Labels: connector

#1501 feat: set data plane openshift version to 4.11.22
  config/dynamic-scaling-configuration.yaml
  internal/kafka/internal/config/dynamic_scaling_config.go
Labels: kafka

#1509 fix: correct typo in ClusterNodeTaint type
  internal/kafka/internal/clusters/ocm_provider.go
  internal/kafka/internal/clusters/types/types.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
Labels: kafka

#1503 feat: add observatorium proxy token validation endpoint
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/api_observatorium_proxy.go
  internal/kafka/internal/api/private/client.go
  internal/kafka/internal/handlers/observatorium_proxy.go
  internal/kafka/internal/handlers/observatorium_proxy_test.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusters_test.go
  internal/kafka/test/integration/observatorium_proxy_token_validation_test.go
  openapi/kas-fleet-manager-private.yaml
  pkg/auth/context_config.go
  pkg/auth/kfm_claims.go
  pkg/auth/operator_authz_middleware.go
Labels: common, kafka, api-change

#1513 refactor: reorder long-lived instances db migrations
  internal/kafka/internal/migrations/20230125110000_add_kafka_promote_worker_in_leader_leases.go
  internal/kafka/internal/migrations/20230125120000_update_expires_at_zero_value.go
  internal/kafka/internal/migrations/migrations.go
Labels: kafka

#1514 feat: add description to obs proxy endpoint
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/api_observatorium_proxy.go
  openapi/kas-fleet-manager-private.yaml
Labels: kafka, api-change

#1516 refactor(kafka service): remove duplicate imports of some package
  internal/kafka/internal/services/kafka.go
Labels: kafka

#1517 refactor(kafka-service-test): remove unneeded kafka service from PrepareKafkaRequest method tests
  internal/kafka/internal/services/kafka_test.go
Labels: kafka

#1524 feat: update and migrate faker library
  go.mod
  go.sum
  internal/kafka/test/integration/auth_test.go
  internal/kafka/test/integration/kafka_list_search_order_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/integration/serviceaccounts_test.go
  test/helper.go
Labels: common, kafka

#1525 feat: align postgres version so that its consistent across all deployments
  .github/workflows/ci.yaml
  scripts/local_db_setup.sh
  templates/README.md
  templates/db-template.yml
Labels: github, common, kafka, service-template

#1526 feat: change postgres version in test dockerfiles
  docker/Dockerfile_template
  docker/Dockerfile_template_mocked
Labels: kafka

#1511 feat: cluster deregistration
  internal/kafka/constants/cluster.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_enterprise_dataplane_clusters.go
  internal/kafka/internal/clusters/ocm_provider.go
  internal/kafka/internal/clusters/provider.go
  internal/kafka/internal/clusters/provider_moq.go
  internal/kafka/internal/clusters/standalone_provider.go
  internal/kafka/internal/handlers/cluster.go
  internal/kafka/internal/handlers/cluster_test.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusterservice_moq.go
  internal/kafka/internal/workers/cluster_mgrs/cleanup_clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/cleanup_clusters_mgr_test.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/deprovisioning_clusters_mgr_test.go
  internal/kafka/test/integration/cluster_deregistration_endpoint_test.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change
