Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2023-02, with the labels that each got.

#1518 Avoid overriding properties in OpenAPI Spec
  internal/kafka/internal/api/admin/private/api/openapi.yaml
  internal/kafka/internal/api/admin/private/model_list.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_list.go
  openapi/kas-fleet-manager-private-admin.yaml
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1527 feat: add configurable Observability CloudWatch Logs functionality
  .gitignore
  Makefile
  README.md
  docs/feature-flags.md
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  internal/kafka/providers.go
  pkg/client/observatorium/observability_config.go
  pkg/client/observatorium/observability_config_test.go
  secrets/observability-cloudwatchlogs-config.yaml.sample
  templates/secrets-template.yml
  templates/service-template.yml
Labels: documentation, common, kafka, service-template, needs-app-interface-changes

#1499 feat: reconcile expires at value for kafka instances
  internal/kafka/constants/kafka.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/services/quota.go
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  internal/kafka/internal/services/quota/quota_management_list_service.go
  internal/kafka/internal/services/quota/quota_management_list_service_test.go
  internal/kafka/internal/services/quotaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  pkg/client/ocm/client.go
  pkg/client/ocm/types.go
  pkg/quota_management/account.go
  pkg/quota_management/organisation.go
Labels: common, kafka

#1529 connectors: tide up tests dir structure, removed obsolate testing cleanup tool.
  Makefile
  internal/connector/internal/config/connectors_test.go
  internal/connector/test/integration/cleanup/main.go
  internal/connector/test/integration/feature_test.go
  internal/connector/test/integration/resources/bad-connector-catalog/bad-connector-type.json
  internal/connector/test/integration/resources/bad-connector-metadata/bad-connector-metadata.yaml
  internal/connector/test/integration/resources/connector-catalog-root/aws/aws-sqs-source-v1alpha1.json
  internal/connector/test/integration/resources/connector-catalog-root/misc/log_sink_0.1.json
  internal/connector/test/integration/resources/connector-catalog/aws-sqs-source-v1alpha1.json
  internal/connector/test/integration/resources/connector-catalog/log_sink_0.1.json
  internal/connector/test/integration/resources/connector-metadata/aws-sqs-source-v1alpha1-metadata.yaml
  internal/connector/test/integration/resources/connector-metadata/log_sink_0.1_metadata.yaml
  internal/connector/test/integration/resources/missing-connector-metadata/log_sink_0.1_metadata.yaml
  internal/connector/test/integration/resources/unknown-connector-metadata/aws-sqs-source-v1alpha1-metadata.yaml
  internal/connector/test/integration/resources/unknown-connector-metadata/log_sink_0.1_metadata.yaml
Labels: connector

#1536 feat: add optional cluster_id field to create kafka on enterprise cluster
  config/kafka-instance-types-configuration.yaml
  internal/kafka/constants/kafka.go
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/api/dbapi/kafka_request_types_test.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/api/public/model_kafka_request_payload.go
  internal/kafka/internal/api/public/model_supported_kafka_billing_model.go
  internal/kafka/internal/config/validator.go
  internal/kafka/internal/config/validator_test.go
  internal/kafka/internal/handlers/cluster.go
  internal/kafka/internal/handlers/kafka.go
  internal/kafka/internal/handlers/kafka_test.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/presenters/kafka_test.go
  internal/kafka/internal/services/cluster_placement_strategy.go
  internal/kafka/internal/services/cluster_placement_strategy_test.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusters_test.go
  internal/kafka/internal/services/clusterservice_moq.go
  internal/kafka/internal/services/data_plane_kafka.go
  internal/kafka/internal/services/data_plane_kafka_test.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/services/quota/internal/test/kafka_supported_instance_types_config.go
  internal/kafka/internal/services/quotaservice_moq.go
  internal/kafka/test/integration/kafka_create_test.go
  internal/kafka/test/integration/kafkas_test.go
  openapi/kas-fleet-manager.yaml
  pkg/client/ocm/types.go
  pkg/handlers/validation.go
  pkg/handlers/validation_test.go
  templates/service-template.yml
Labels: common, kafka, api-change, service-template

#1545 test(enterprise): make sure that quota check is performed by enabling quota for the various orgs
  Makefile
  config/quota-management-list-configuration.yaml
  docs/deploying-kas-fleet-manager-to-openshift.md
  internal/kafka/test/integration/kafka_create_test.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#1544 fix: change the reconciler interval to 1 second for promotion tests
  config/quota-management-list-configuration.yaml
  internal/kafka/test/integration/kafka_promote_test.go
Labels: kafka

#1515 Specify the Error schema ref instead of a generic empty object
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_security.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1546 Remove spurious '[-p]' text
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/api/admin/private/api_connector_namespaces_admin.go
  internal/connector/internal/api/admin/private/api_connector_types.go
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/api_connector_clusters.go
  internal/connector/internal/api/public/api_connector_namespaces.go
  internal/connector/internal/api/public/api_connector_types.go
  internal/connector/internal/api/public/api_connectors.go
  internal/kafka/internal/api/admin/private/api/openapi.yaml
  internal/kafka/internal/api/admin/private/api_default.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  openapi/connector_mgmt.yaml
  openapi/kas-fleet-manager.yaml
Labels: connector, kafka, api-change, connector-api-change

#1547 chore: update golangci-lint to v1.51.1
  .github/workflows/ci.yaml
  Makefile
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
Labels: github, kafka

#1538 fix: removed call to reserved_resources
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_test.go
  internal/kafka/internal/services/quota/internal/mocks/ams/subscriptions_mock.go
  internal/kafka/internal/services/quota/quota_management_list_service.go
  internal/kafka/internal/services/quota/quota_management_list_service_test.go
  pkg/client/ocm/client.go
  pkg/client/ocm/client_moq.go
Labels: common, kafka

#1551 test(integration): harden enterprise kafka creation test as only enterprise cluster should be used
  internal/kafka/internal/services/kafka.go
  internal/kafka/test/integration/kafka_create_test.go
Labels: kafka

#1543 connectors: MGDCTRS-1993: make deployment searchable for operator upgrade available
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/handlers/connector_agent.go
  internal/connector/internal/services/connector_cluster.go
  internal/connector/test/integration/feature_test.go
  internal/connector/test/integration/features/connector-agent-api.feature
  openapi/connector_mgmt-private-admin.yaml
Labels: connector, connector-api-change

#1530 feat: get additional cluster info from ocm during registration
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_enterprise_osd_cluster_payload.go
  internal/kafka/internal/clusters/ocm_provider.go
  internal/kafka/internal/clusters/ocm_provider_test.go
  internal/kafka/internal/clusters/provider.go
  internal/kafka/internal/clusters/provider_moq.go
  internal/kafka/internal/clusters/standalone_provider.go
  internal/kafka/internal/clusters/types/types.go
  internal/kafka/internal/handlers/cluster.go
  internal/kafka/internal/handlers/cluster_test.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/kas_fleetshard_operator_addon.go
  internal/kafka/test/integration/cluster_deregistration_endpoint_test.go
  internal/kafka/test/integration/cluster_registration_endpoint_test.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1552 fix(enterprise): default to "enterprise" billing model when creating a cluster on dedicated cluster
  internal/kafka/internal/handlers/validation.go
  internal/kafka/test/integration/kafka_create_test.go
Labels: kafka

#1554 feat: add database dump to integration tests
  internal/kafka/test/common/kafka_pollers.go
  internal/kafka/test/integration/kafkas_test.go
Labels: kafka

#1553 fix(enterprise): ensure that capacity information are always sent for enterprise kafkas
  internal/kafka/internal/services/data_plane_cluster.go
  internal/kafka/internal/services/data_plane_cluster_test.go
  internal/kafka/test/integration/cluster_registration_endpoint_test.go
Labels: kafka

#1555 fix: fix nightly test failing (quota list)
  internal/kafka/test/integration/kafkas_test.go
Labels: kafka

#1556 refactor(test): seed the TestKafka_KafkaExpiration integration test with a dummy data plane cluster
  internal/kafka/test/integration/kafkas_test.go
Labels: kafka

#1512 fixes MGDCTRS-1824, added support for deprecated types and connectors for types removed from catalog
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/api/admin/private/api_connector_namespaces_admin.go
  internal/connector/internal/api/admin/private/api_connector_types.go
  internal/connector/internal/api/admin/private/model_connector_type.go
  internal/connector/internal/api/admin/private/model_connector_type_admin_view.go
  internal/connector/internal/api/dbapi/connector_type.go
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/api_connector_clusters.go
  internal/connector/internal/api/public/api_connector_namespaces.go
  internal/connector/internal/api/public/api_connector_types.go
  internal/connector/internal/api/public/api_connectors.go
  internal/connector/internal/api/public/model_connector_type.go
  internal/connector/internal/migrations/202301180000_add_connector_type_deprecated.go
  internal/connector/internal/migrations/migrations.go
  internal/connector/internal/presenters/connector_type.go
  internal/connector/internal/services/connector_types.go
  internal/connector/internal/workers/connector_type_mgr.go
  internal/connector/test/integration/cucumber_steps.go
  internal/connector/test/integration/features/connector-api.feature
  openapi/connector_mgmt.yaml
Labels: connector, connector-api-change

#1559 feat: change log level logging when cluster not ready in genreservedkafkas
  internal/kafka/internal/services/kafka.go
Labels: kafka

#1558 feat: clarify error log when getting Route53 change batch request
  internal/kafka/internal/services/kafka.go
Labels: kafka

#1561 feat: whitelist cluster_id in search param of kafka list endpoint
  internal/kafka/internal/api/admin/private/api/openapi.yaml
  internal/kafka/internal/api/admin/private/api_default.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  openapi/kas-fleet-manager.yaml
  pkg/services/queryparser/query_parser.go
Labels: common, kafka, api-change

#1564 MGDCTRS-1994: control plane: make deployment patch accept operatorId patching.
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/test/integration/feature_test.go
  internal/connector/test/integration/features/connector-agent-api.feature
  internal/connector/test/integration/features/connector-multitenancy-api.feature
Labels: connector

#1569 feat: remove temporary expires_at migration logic in the kafka_mgr reconciler
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafkaservice_moq.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
Labels: kafka

#1572 connectors: MGDCTRS-1995: remove obsolete admin operator upgrade specific endpoints and operations.
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/api/admin/private/model_connector_available_operator_upgrade.go
  internal/connector/internal/api/admin/private/model_connector_available_operator_upgrade_list.go
  internal/connector/internal/api/admin/private/model_connector_upgrade_status.go
  internal/connector/internal/api/dbapi/connector.go
  internal/connector/internal/handlers/connector_admin.go
  internal/connector/internal/presenters/connector_available_operator_upgrade.go
  internal/connector/internal/routes/route_loader.go
  internal/connector/internal/services/connector_cluster.go
  openapi/connector_mgmt-private-admin.yaml
Labels: connector, connector-api-change

#1570 feat: remove temporary expires_at migration logic for lifespan based instances
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
Labels: kafka

#1563 fix: enterprise clusters should be ignored when checking for manual list placement when creating a normal Kafkas
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/config/dataplane_cluster_config_test.go
  internal/kafka/internal/handlers/cluster_test.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/services/cluster_placement_strategy.go
  internal/kafka/internal/services/cluster_placement_strategy_test.go
  internal/kafka/internal/services/clusters.go
  internal/kafka/internal/services/clusters_test.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  internal/kafka/test/integration/cluster_service_test.go
  internal/kafka/test/integration/kafka_create_test.go
Labels: kafka

#1573 feat(enterprise): perform real quota checks for enterprise endpoints
  Makefile
  config/enterprise-cluster-registration-list-config.yaml
  internal/kafka/internal/acl/enterprise_cluster_registration_access_list_middleware.go
  internal/kafka/internal/acl/enterprise_cluster_registration_access_list_middleware_test.go
  internal/kafka/internal/acl/enterprise_clusters_access_control_middleware.go
  internal/kafka/internal/acl/enterprise_clusters_access_control_middleware_test.go
  internal/kafka/internal/acl/enterpsise_cluster_registration_access_list.go
  internal/kafka/internal/acl/enterpsise_cluster_registration_access_list_test.go
  internal/kafka/internal/routes/route_loader.go
  internal/kafka/providers.go
  templates/service-template.yml
Labels: kafka, service-template

#1421 feat: remove deprecated kafka_storage_size
  internal/kafka/internal/api/admin/private/api/openapi.yaml
  internal/kafka/internal/api/admin/private/model_kafka.go
  internal/kafka/internal/api/admin/private/model_kafka_update_request.go
  internal/kafka/internal/api/dbapi/kafka_request_types.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/model_kafka_request.go
  internal/kafka/internal/handlers/admin_kafka.go
  internal/kafka/internal/handlers/admin_kafka_test.go
  internal/kafka/internal/handlers/kafka_test.go
  internal/kafka/internal/handlers/validation.go
  internal/kafka/internal/handlers/validation_test.go
  internal/kafka/internal/migrations/20230214160000_rename_kafka_storage_size_to_max_data_retention_size.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/presenters/admin_kafka.go
  internal/kafka/internal/presenters/admin_kafka_test.go
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/presenters/kafka_test.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/internal/services/util_test.go
  internal/kafka/test/integration/admin_kafka_test.go
  internal/kafka/test/integration/data_plane_endpoints_test.go
  internal/kafka/test/integration/kafka_create_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/mocks/kafkas/admin_kafkas.go
  internal/kafka/test/mocks/kafkas/kafkas.go
  openapi/kas-fleet-manager-private-admin.yaml
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1532 feat: reorganize README documentation and expand documentation
  Makefile
  README.md
  docs/best-practices/testing.md
  docs/getting-credentials-and-accounts.md
  docs/interacting-with-fleet-manager.md
  docs/observability/README.md
  docs/populating-configuration.md
  docs/quota-management-list-configuration.md
  docs/slos/README.md
  docs/testing.md
Labels: documentation

#1575 feat: mention that GlitchTip is also supported as a Sentry service
  docs/feature-flags.md
  docs/populating-configuration.md
  pkg/services/sentry/config.go
Labels: documentation, common

#1581 feat: update Go version to 1.19.6
  .github/workflows/ci.yaml
  Dockerfile
  docker/Dockerfile_template
  docker/Dockerfile_template_mocked
Labels: github, kafka, service-template

#1465 feat: set restrictive security contexts in KFM deployments
  docs/deploying-kas-fleet-manager-to-openshift.md
  templates/db-template.yml
  templates/service-template.yml
Labels: documentation, kafka, service-template

#1582 build(docker): update base image to ubi-minimal 9.1
  .github/dependabot.yaml
  Dockerfile
  build_deploy.sh
  docker/Dockerfile
Labels: github, kafka, service-template

#1560 feat: add service account and image pull secrets to observability nam…
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
Labels: kafka

#1562 feat: add support for IN and NOT in search clauses
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/api_connector_clusters_admin.go
  internal/connector/internal/api/admin/private/api_connector_namespaces_admin.go
  internal/connector/internal/api/admin/private/api_connector_types.go
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/api_connector_clusters.go
  internal/connector/internal/api/public/api_connector_namespaces.go
  internal/connector/internal/api/public/api_connector_types.go
  internal/connector/internal/api/public/api_connectors.go
  internal/kafka/internal/api/admin/private/api/openapi.yaml
  internal/kafka/internal/api/admin/private/api_default.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/test/integration/kafka_list_search_order_test.go
  openapi/connector_mgmt.yaml
  openapi/kas-fleet-manager.yaml
  pkg/services/queryparser/query_parser.go
  pkg/services/queryparser/query_parser_test.go
  pkg/shared/utils/stringscanner/sql_string_scanner.go
  pkg/shared/utils/stringscanner/sql_string_scanner_test.go
Labels: common, connector, kafka, api-change, connector-api-change

#1591 fix: fix dataplane cloudwatchlogs secret being optional at template level
  templates/service-template.yml
Labels: kafka, service-template

#1590 chore: update envoy base image
  templates/envoy-config-configmap.yml
  templates/service-template.yml
Labels: kafka, service-template, needs-app-interface-changes

#1593 fix: Add TypeMeta to observability-proxy-credentials secret
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
Labels: kafka

#1596 feat: return all sizes regardless of capacity for enterprise
  internal/kafka/internal/handlers/cluster_test.go
  internal/kafka/internal/presenters/cluster.go
  internal/kafka/internal/presenters/cluster_test.go
  internal/kafka/test/integration/cluster_get_enterprise_test.go
Labels: kafka

#1595 fix: sets the actual_kafka_billing_model and the desired_kafka_billing del for old kafkas where billing_model was empty
  internal/kafka/internal/api/dbapi/testutils/kafka_request_functional_builder.go
  internal/kafka/internal/api/dbapi/testutils/kafka_request_functional_builder_test.go
  internal/kafka/internal/services/quota/ams_quota_service.go
  internal/kafka/internal/services/quota/ams_quota_service_moq.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr.go
  internal/kafka/internal/workers/kafka_mgrs/kafkas_mgr_test.go
  test/utils/make_functional_paramer.go
Labels: common, kafka

#1535 test: add integration tests for testing kafka expiration logic
  internal/kafka/test/integration/kafka_expiration_test.go
  internal/kafka/test/integration/kafkas_test.go
  internal/kafka/test/mocks/kafkas/kafkas.go
  internal/kafka/test/mocks/supported_instance_types/kafka_instance_size.go
Labels: kafka

#1601 chore: bump Observability Operator to v4.1.2
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#1600 feat: add observability proxy deployment
  Makefile
  docs/deploying-observability-remote-write-proxy-in-openshift.md
  templates/observability-remote-write-proxy-oidc-secret.yml
  templates/observability-remote-write-proxy-route.yml
  templates/observability-remote-write-proxy.yml
Labels: documentation, kafka, service-template, needs-app-interface-changes
