Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2023-03, with the labels that each got.

#1603 feat: disable rate limiting for obs-proxy-verification endpoint
  templates/envoy-config-configmap.yml
Labels: kafka, service-template, needs-app-interface-changes

#1604 chore: remove ocp route templates redundant name attribute
  templates/observability-remote-write-proxy-route.yml
  templates/route-template.yml
Labels: kafka, service-template

#1609 fix: token check should not consider multiaz value of cluster
  internal/kafka/internal/handlers/observatorium_proxy.go
  internal/kafka/internal/handlers/observatorium_proxy_test.go
Labels: kafka

#1610 feat: add configurable CA certificate in Observability RW Proxy OCP template
  Makefile
  templates/observability-remote-write-proxy.yml
Labels: kafka, service-template, needs-app-interface-changes

#1606 test: log cluster external id in cluster pollers
  internal/kafka/internal/services/clusters.go
  internal/kafka/test/common/cluster_pollers.go
  internal/kafka/test/common/poll.go
Labels: kafka

#1620 fix(certs): wait for dns propagation when the DNS resolver challenge is being performed
  internal/kafka/internal/services/kafkatlscertmgmt/kafka_tls_certificate_management_service.go
Labels: kafka

#1617 feat(enterprise): validate that the organization owns the cluster that's being registered
  internal/kafka/internal/clusters/ocm_provider.go
  internal/kafka/internal/clusters/ocm_provider_test.go
  internal/kafka/internal/clusters/provider.go
  internal/kafka/internal/clusters/provider_moq.go
  internal/kafka/internal/clusters/standalone_provider.go
  internal/kafka/internal/handlers/cluster.go
  internal/kafka/internal/handlers/cluster_test.go
  internal/kafka/test/integration/cluster_deregistration_endpoint_test.go
  internal/kafka/test/integration/cluster_metrics_test.go
  internal/kafka/test/integration/cluster_registration_endpoint_test.go
  internal/kafka/test/integration/ocm_client_test.go
  pkg/shared/utils/arrays/generic_array_utils.go
  pkg/shared/utils/arrays/generic_array_utils_test.go
  test/mocks/api_server.go
Labels: common, kafka

#1605 set default value for service account to avoid creating them when they are not needed when running integration tests.
  internal/kafka/internal/converters/cluster.go
  internal/kafka/test/helper.go
  internal/kafka/test/mocks/clusters/clusters.go
  internal/kafka/test/mocks/kafkas/kafkas.go
Labels: kafka

#1622 fix: do not perform nilness check on cluster spec as it is not needed
  internal/kafka/internal/handlers/cluster.go
Labels: kafka

#1623 chore: update github CODEOWNERS to use cos-fleet-manager-reviewers group
  .github/CODEOWNERS
Labels: github

#1624 refactor: remove unused constant
  internal/kafka/constants/constants.go
Labels: kafka

#1632 Increase timeout for PR#1625
  .github/workflows/ci.yaml
Labels: github

#1625 Ensure deferred functions are executed before Go runtime exits
  internal/connector/internal/handlers/connector_agent.go
  internal/connector/test/integration/feature_test.go
  internal/kafka/test/integration/kafka/kafka_test.go
  test/helper.go
Labels: common, connector, kafka

#1636 Revert "Increase timeout for PR#1625"
  .github/workflows/ci.yaml
Labels: github

#1638 Minor reviews cert storage
  internal/kafka/internal/services/kafkatlscertmgmt/kafka_tls_certificate_management_service.go
  internal/kafka/internal/services/kafkatlscertmgmt/secure_storage.go
Labels: kafka

#1619 MGDCTRS-1085: PATCH returns wrong HTTP response if payload is incorrect
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/api_connectors.go
  internal/connector/internal/handlers/connectors.go
  internal/connector/internal/handlers/connectors_test.go
  internal/connector/test/integration/features/connector-api.feature
  openapi/connector_mgmt.yaml
Labels: connector, connector-api-change

#1635 feat: make Dockerfile's go binary release download multiplaform
  Dockerfile
  Makefile
Labels: kafka, service-template

#1640 Revert "feat: make Dockerfile's go binary release download multiplaform"
  Dockerfile
  Makefile
Labels: kafka, service-template

#1641 ci(image): add PR check that ensures that image can be built
  .github/workflows/ci.yaml
  pr_check.sh
Labels: github

#1643 feat(certs): disable ocp stapling if MustStaple configuration is set to false
  internal/kafka/internal/services/kafkatlscertmgmt/kafka_tls_certificate_management_service.go
Labels: kafka

#1642 fix(secure-storage): only trim by the aws secret manager global prefix to get the resulting key
  internal/kafka/internal/services/kafkatlscertmgmt/secretmanager_client_moq.go
  internal/kafka/internal/services/kafkatlscertmgmt/secure_storage.go
  internal/kafka/internal/services/kafkatlscertmgmt/secure_storage_test.go
Labels: kafka

#1644 refactor: internalize GoCloak and AWS Route53 interface clients
  Makefile
  pkg/client/aws/client.go
  pkg/client/aws/client_test.go
  pkg/client/aws/route53_client.go
  pkg/client/aws/route53_client_moq.go
  pkg/client/keycloak/client.go
  pkg/client/keycloak/client_test.go
  pkg/client/keycloak/gocloak_client_interface.go
  pkg/client/keycloak/gocloak_client_interface_moq.go
Labels: common

#1656 feat: remove Go vendoring
  Dockerfile
  Makefile
Labels: kafka, service-template

#1655 feat: update actions/setup-go GitHub action to v4
  .github/workflows/ci.yaml
Labels: github

#1658 feat: update browser_url value
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/presenters/kafka.go
  internal/kafka/internal/presenters/kafka_test.go
  internal/kafka/test/integration/kafka_create_test.go
  internal/kafka/test/integration/kafkas_test.go
  openapi/kas-fleet-manager.yaml
Labels: kafka, api-change

#1662 fix(regions): ignore enterprise kafkas when checking for regions capacity
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  internal/kafka/test/integration/cloudprovider_test.go
Labels: kafka

#1659 fix(dynamic_scale_down_mgr): do not attempt to scale down enterprise clusters
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_down_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/dynamic_scale_down_mgr_test.go
Labels: kafka

#1671 refactor(certs): also disable the underlying acme client logger
  internal/kafka/internal/services/kafkatlscertmgmt/kafka_tls_certificate_management_service.go
Labels: kafka

#1672 feat(search): allow filtering kafka by instance type
  internal/kafka/internal/api/admin/private/api/openapi.yaml
  internal/kafka/internal/api/admin/private/api_default.go
  internal/kafka/internal/api/public/api/openapi.yaml
  internal/kafka/internal/api/public/api_default.go
  internal/kafka/test/integration/kafka_list_search_order_test.go
  openapi/kas-fleet-manager.yaml
  pkg/services/queryparser/query_parser.go
  pkg/services/queryparser/query_parser_test.go
Labels: common, kafka, api-change

#1663 fix(data_plane_kafka): only allow transition to deleting state if the kafka was in deprovision state
  internal/kafka/internal/services/data_plane_kafka.go
  internal/kafka/internal/services/data_plane_kafka_test.go
Labels: kafka

#1633 RHOC: connectors visibility by channel
  internal/connector/internal/config/connectors.go
  internal/connector/internal/config/connectors_test.go
  internal/connector/internal/handlers/connectors.go
  internal/connector/internal/services/connector_types.go
  internal/connector/test/integration/feature_test.go
  internal/connector/test/integration/features/connector-api.feature
  internal/connector/test/integration/resources/connector-catalog-root/sql/postgresql_sink_0.1.json
  internal/connector/test/integration/resources/connector-catalog/postgresql_sink_0.1.json
  internal/connector/test/integration/resources/connector-metadata/postgresql_sink_0.1_metadata.yaml
  internal/connector/test/integration/resources/unknown-connector-metadata/postgresql_sink_0.1_metadata.yaml
Labels: connector

#1670 fix(cert): configure TestCA so that it points to Letsencrypt Prod instance as well
  internal/kafka/internal/services/kafkatlscertmgmt/kafka_tls_certificate_management_service.go
Labels: kafka

#1674 chore: remove observability config access token from CI files
  docker/Dockerfile_template
  docker/Dockerfile_template_mocked
  pr_check.sh
Labels: kafka

#1678 refactor: only update certificate information in the database if they've changed
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
Labels: kafka

#1676 chore: remove Observatorium DEX authentication support
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  docs/feature-flags.md
  internal/kafka/internal/environments/development.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  pkg/client/observatorium/client.go
  pkg/client/observatorium/client_test.go
  pkg/client/observatorium/config.go
  pkg/client/observatorium/observability_config.go
  pkg/client/observatorium/observability_config_test.go
  secrets/dex.password
  secrets/dex.secret
  secrets/observatorium.token
  templates/secrets-template.yml
  templates/service-template.yml
Labels: documentation, common, kafka, service-template, needs-app-interface-changes

#1675 doc: update populating configuration doc to include observabilit rw proxy
  docs/populating-configuration.md
Labels: documentation

#1681 fix: unused variable linter error on observatorium client test
  pkg/client/observatorium/client_test.go
Labels: common

#1682 chore: remove unused Observatorium Red Hat SSO CLI flags
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  docs/feature-flags.md
  internal/kafka/internal/environments/development.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  pkg/client/observatorium/observability_config.go
  templates/service-template.yml
Labels: documentation, common, kafka, service-template, needs-app-interface-changes, breaking

#1683 chore: remove Observatorium debug flag
  docs/feature-flags.md
  pkg/client/observatorium/client.go
  pkg/client/observatorium/client_test.go
  pkg/client/observatorium/config.go
  pkg/client/observatorium/observability_config.go
  templates/service-template.yml
Labels: documentation, common, kafka, service-template, breaking

#1680 feat(certs): indicate that a Kafka can be paused for reconciliation in the data plane via the ManagedKafka CR annotation if we fail to fetch the certificate.
  internal/kafka/internal/api/private/api/openapi.yaml
  internal/kafka/internal/api/private/api_agent_clusters.go
  internal/kafka/internal/api/private/api_observatorium_proxy.go
  internal/kafka/internal/api/private/client.go
  internal/kafka/internal/api/private/configuration.go
  internal/kafka/internal/api/private/model_data_plane_cluster_update_status_request.go
  internal/kafka/internal/api/private/model_data_plane_cluster_update_status_request_capacity.go
  internal/kafka/internal/api/private/model_data_plane_cluster_update_status_request_conditions.go
  internal/kafka/internal/api/private/model_data_plane_cluster_update_status_request_strimzi.go
  internal/kafka/internal/api/private/model_data_plane_kafka_status.go
  internal/kafka/internal/api/private/model_data_plane_kafka_status_capacity.go
  internal/kafka/internal/api/private/model_data_plane_kafka_status_routes.go
  internal/kafka/internal/api/private/model_data_plane_kafka_status_versions.go
  internal/kafka/internal/api/private/model_dataplane_cluster_agent_config.go
  internal/kafka/internal/api/private/model_dataplane_cluster_agent_config_spec.go
  internal/kafka/internal/api/private/model_dataplane_cluster_agent_config_spec_capacity.go
  internal/kafka/internal/api/private/model_dataplane_cluster_agent_config_spec_net.go
  internal/kafka/internal/api/private/model_dataplane_cluster_agent_config_spec_observability.go
  internal/kafka/internal/api/private/model_error.go
  internal/kafka/internal/api/private/model_list_reference.go
  internal/kafka/internal/api/private/model_managed_kafka.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_metadata.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_metadata_annotations.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_metadata_labels.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_spec.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_spec_endpoint.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_spec_endpoint_tls.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_spec_oauth.go
  internal/kafka/internal/api/private/model_managed_kafka_all_of_spec_service_accounts.go
  internal/kafka/internal/api/private/model_managed_kafka_capacity.go
  internal/kafka/internal/api/private/model_managed_kafka_list.go
  internal/kafka/internal/api/private/model_managed_kafka_versions.go
  internal/kafka/internal/api/private/model_private_object_reference.go
  internal/kafka/internal/api/private/model_watch_event.go
  internal/kafka/internal/api/private/response.go
  internal/kafka/internal/presenters/managedkafka.go
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
  openapi/kas-fleet-manager-private.yaml
  pkg/api/managedkafkas.managedkafka.bf2.org/v1/types.go
Labels: common, kafka, api-change

#1679 fix(connectors): fix parsing of comma separated string slice command line options
  internal/connector/internal/config/connectors.go
Labels: connector

#1661 OpenAPI No inheritance in connector_mgmt spec
  internal/connector/internal/api/admin/private/api/openapi.yaml
  internal/connector/internal/api/admin/private/model_list.go
  internal/connector/internal/api/private/api/openapi.yaml
  internal/connector/internal/api/private/model_list.go
  internal/connector/internal/api/public/api/openapi.yaml
  internal/connector/internal/api/public/model_list.go
  internal/kafka/internal/api/public/api/openapi.yaml
  openapi/connector_mgmt-private-admin.yaml
  openapi/connector_mgmt-private.yaml
  openapi/connector_mgmt.yaml
  openapi/kas-fleet-manager.yaml
Labels: connector, kafka, api-change, connector-api-change

#1688 refactor(kafka-config): remove unused kafka lifespan configuration
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  docs/feature-flags.md
  internal/kafka/internal/config/kafka.go
  internal/kafka/internal/config/kafka_lifespan.go
  internal/kafka/internal/config/kafka_lifespan_test.go
  internal/kafka/internal/config/kafka_test.go
  internal/kafka/internal/environments/development.go
  internal/kafka/internal/environments/integration.go
  internal/kafka/test/helper.go
  templates/service-template.yml
Labels: documentation, kafka, service-template, needs-app-interface-changes, breaking
