Repository bf2fc6cc711aee1a0c2a/kas-fleet-manager, pull requests merged in 2023-04, with the labels that each got.

#1694 chore: remove Observatorium AuthToken config unused parameter
  pkg/client/observatorium/client.go
  pkg/client/observatorium/client_test.go
  pkg/client/observatorium/config.go
Labels: common

#1695 fix(certs): revoke Kafka certificate even when the Kafka is not assigned to a data plane yet
  internal/kafka/internal/services/kafka.go
  internal/kafka/internal/services/kafka_test.go
Labels: kafka

#1687 feat: add distributed lock utility
  internal/kafka/internal/migrations/20230329160000_add_distributed_lock.go
  internal/kafka/internal/migrations/migrations.go
  internal/kafka/internal/services/kafkatlscertmgmt/kafka_tls_certificate_management_service.go
  internal/kafka/internal/services/kafkatlscertmgmt/secure_storage.go
  internal/kafka/test/integration/distributed_lock_mgr_test.go
  internal/kafka/test/integration/distributed_lock_test.go
  pkg/shared/utils/sync/distributed_lock.go
  pkg/shared/utils/sync/distributed_lock_mgr.go
  pkg/shared/utils/sync/distributed_lock_mgr_test.go
  pkg/shared/utils/sync/distributed_lock_mock.go
  pkg/shared/utils/sync/distributed_lock_test.go
Labels: common, kafka

#1696 docs: Rewrite and expand Fleet Manager API endpoints documentation
  README.md
  config/admin-authz-configuration.yaml
  docs/admin-api-endpoints-authorization.md
  docs/admin-api-overview.md
Labels: documentation, kafka

#1703 feat: bump new_data_plane_openshift_version to openshift-v4.11.36
  internal/kafka/internal/config/dynamic_scaling_config.go
Labels: kafka

#1704 chore: bump Observability Operator to v4.2.1
  Makefile
  docs/deploying-kas-fleet-manager-to-openshift.md
  internal/kafka/internal/config/dataplane_cluster_config.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr_test.go
  templates/service-template.yml
Labels: documentation, kafka, service-template

#1712 refactor(cluster): remove unused ClusterFull status
  internal/kafka/internal/services/data_plane_cluster.go
  internal/kafka/internal/services/data_plane_cluster_test.go
  internal/kafka/internal/workers/cluster_mgrs/clusters_mgr.go
  internal/kafka/test/mocks/kasfleetshardsync/kas-fleetshard-sync.go
  pkg/api/cluster_types.go
Labels: common, kafka

#1705 fix: create or update in-memory storage for both Lock and Store ops
  internal/kafka/internal/services/kafkatlscertmgmt/kafka_tls_certificate_management_service.go
  internal/kafka/internal/services/kafkatlscertmgmt/kafka_tls_certificate_management_service_test.go
  internal/kafka/internal/services/kafkatlscertmgmt/memory_storage.go
  internal/kafka/internal/services/kafkatlscertmgmt/memory_storage_test.go
Labels: kafka
